In [23]:
from pathlib import Path
from tqdm import tqdm
import re
import pandas as pd
from datetime import datetime, timedelta
import sqlite3
import QueryStockDataDB
import stockdata
import OpenDartReader

In [37]:
# Set Path
folderPath = Path.cwd() / 'DataStock'
folderPath

WindowsPath('c:/Users/ajcltm/PycharmProjects/DataAPI/DataStock')

In [57]:
sd = stockdata.StockData(folderPath)
# sd.createDb(kind='stockList', start='20100101', end='20100218')
# sd.updateDb('stockList')
# sd.createDb(kind='stockPrice', start='20100101', end='20100218')
# sd.updateDb('stockPrice')
# sd.createDb(kind='nOfShares', start='20100101', end='20100228')
sd.updateDb('nOfShares')

100%|██████████| 939/939 [09:07<00:00,  1.71it/s]
100%|██████████| 10328/10328 [01:27<00:00, 117.37it/s]

In [39]:
query = QueryStockDataDB.QueryStockData(folderPath)

In [40]:
df = query.queryStockListDB(by='parquet')
df

      ticker      name   firstDay     endDay
0     004560   현대비앤지스틸 2010-01-01 2021-10-26
1     004565  현대비앤지스틸우 2010-01-01 2021-10-26
2     001460       BYC 2010-01-01 2021-10-26
3     001465      BYC우 2010-01-01 2021-10-26
4     084680       이월드 2010-01-01 2021-10-26
...      ...       ...        ...        ...
1181  377190  디앤디플랫폼리츠 2021-08-27 2021-10-26
1182  271940   일진하이솔루스 2021-09-01 2021-10-26
1183  395400      SK리츠 2021-09-14 2021-10-26
1184  329180     현대중공업 2021-09-17 2021-10-26
1185  381970       케이카 2021-10-13 2021-10-26

[1186 rows x 4 columns]

In [53]:
df = query.queryStockPriceDB(by='sql')
df.groupby('date').count().tail(15)
df

,id,date,ticker,name,open,high,low,close,volume
0,1,2010-01-04,004560,현대비앤지스틸,8660.0,8910.0,8650.0,8910.0,138442.0
1,2,2010-01-04,004565,현대비앤지스틸우,8370.0,8370.0,8370.0,8370.0,980.0
2,3,2010-01-04,001460,BYC,122000.0,125000.0,122000.0,125000.0,497.0
3,4,2010-01-04,001465,BYC우,55000.0,56300.0,53800.0,55400.0,18.0
4,5,2010-01-04,084680,이월드,1115.0,1135.0,1080.0,1110.0,776027.0
...,...,...,...,...,...,...,...,...,...
2650539,2650540,2021-10-26,069260,휴켐스,26800.0,27000.0,26500.0,26600.0,215054.0
2650540,2650541,2021-10-26,000540,흥국화재,3975.0,4010.0,3950.0,4010.0,35652.0
2650541,2650542,2021-10-26,000547,흥국화재2우B,28400.0,28500.0,28100.0,28350.0,282.0
2650542,2650543,2021-10-26,000545,흥국화재우,8670.0,8690.0,8570.0,8590.0,2350.0
2650543,2650544,2021-10-26,003280,흥아해운,3710.0,3745.0,3650.0,3700.0,1234845.0

In [63]:
df = query.queryStockNumberOfSharesDB(by='sql')
df.groupby('date').count().tail(15)
df

,id,date,ticker,name,nOfShares,kindOfStock,familyStock1,nOfShare_familyStock1,familyStock2,nOfShare_familyStock2,familyStock3,nOfShare_familyStock3,familyStock4,nOfShare_familyStock4
0,1,2010-01-04,000020,동화약품,27931470.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
1,2,2010-01-04,078420,동북아1호,3222000.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
2,3,2010-01-04,002840,미원상사,1300000.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
3,4,2010-01-04,078930,GS,92915378.0,commonStock,GS우,1784826.0,None,NaN,None,NaN,None,None
4,5,2010-01-04,002820,SUN&L,2000000.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650539,2650540,2021-10-26,005490,POSCO,87186835.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
2650540,2650541,2021-10-26,016385,KG동부제철우,53385.0,preferredStock,KG동부제철,100008897.0,None,NaN,None,NaN,None,None
2650541,2650542,2021-10-26,281820,케이씨텍,20861556.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
2650542,2650543,2021-10-26,020000,한섬,24630000.0,commonStock,None,NaN,None,NaN,None,NaN,None,None
2650543,2650544,2021-10-26,381970,케이카,48086533.0,commonStock,None,NaN,None,NaN,None,NaN,None,None

In [61]:
con = df.loc[:, 'familyStock1'].isnull()
df.loc[~con]

,date,ticker,name,nOfShare,kindOfStock,familyStock1,nOfShare_familyStock1,familyStock2,nOfShare_familyStock2,familyStock3,nOfShare_familyStock3,familyStock4,nOfShare_familyStock4
3,2010-01-04,078930,GS,92915378,commonStock,GS우,1784826.0,None,NaN,None,NaN,None,None
5,2010-01-04,078935,GS우,1784826,preferredStock,GS,92915378.0,None,NaN,None,NaN,None,None
7,2010-01-04,002797,아모레G2우B,266720,preferredStock,아모레G,7979098.0,아모레G우,644377.0,None,NaN,None,None
9,2010-01-04,002795,아모레G우,644377,preferredStock,아모레G,7979098.0,아모레G2우B,266720.0,None,NaN,None,None
11,2010-01-04,002790,아모레G,7979098,commonStock,아모레G2우B,266720.0,아모레G우,644377.0,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650515,2021-10-26,005960,동부건설,22731729,commonStock,동부건설우,225732.0,None,NaN,None,NaN,None,None
2650525,2021-10-26,016380,KG동부제철,100008897,commonStock,KG동부제철우,53385.0,None,NaN,None,NaN,None,None
2650530,2021-10-26,000995,DB하이텍1우,112316,preferredStock,DB하이텍,44398588.0,None,NaN,None,NaN,None,None
2650534,2021-10-26,000990,DB하이텍,44398588,commonStock,DB하이텍1우,112316.0,None,NaN,None,NaN,None,None
2650540,2021-10-26,016385,KG동부제철우,53385,preferredStock,KG동부제철,100008897.0,None,NaN,None,NaN,None,None

In [ ]:
con = df.loc[:,'date'] == datetime(2021,10,22)
len(df.loc[con])

939

In [42]:
df = pd.read_parquet(folderPath/'stockNumberOfSharesDB.parquet')
dateS = df.sort_values(by='date').loc[:,'date'].iat[-1]
start = dateS+timedelta(days=1)
start = start.strftime('%Y%m%d')
end = datetime.today().strftime('%Y%m%d')

sd = stockdata.StockData(folderPath)
tickers = sd.getPeriodStockListDf(start, end)['ticker'].unique().tolist()

In [1]:
from pykrx import stock
from multiprocessing import Process

In [12]:
def getPeriodStockListDf(start, end) :
    stockListDf = pd.read_parquet(folderPath/'stockListDB.parquet')
    con1 = stockListDf.loc[:, 'firstDay'] < datetime.strptime(end, '%Y%m%d')
    con2 = stockListDf.loc[:, 'endDay'] > datetime.strptime(start, '%Y%m%d')
    stockListDf = stockListDf.loc[con1&con2]
    return stockListDf

In [18]:
df = pd.read_parquet(folderPath/'stockNumberOfSharesDB.parquet')
dateS = df.sort_values(by='date').loc[:,'date'].iat[-1]
print(dateS)
start = dateS+timedelta(days=1)

start = start.strftime('%Y%m%d')
end = datetime.today().strftime('%Y%m%d')
print(start, end)
tickers = getPeriodStockListDf(start, end)['ticker'].unique().tolist()

2021-10-08 00:00:00
20211009 20211026

In [19]:
tickers

['004560',
 '004565',
 '001460',
 '001465',
 '084680',
 '001040',
 '079160',
 '001045',
 '097950',
 '097955',
 '069730',
 '017940',
 '007700',
 '114090',
 '078930',
 '006360',
 '001250',
 '078935',
 '035000',
 '001500',
 '011420',
 '003560',
 '105560',
 '002380',
 '009070',
 '009440',
 '092220',
 '006200',
 '109070',
 '001390',
 '001940',
 '083420',
 '025000',
 '092230',
 '044450',
 '030200',
 '033780',
 '030210',
 '003550',
 '034220',
 '001120',
 '051900',
 '051905',
 '003555',
 '011070',
 '066570',
 '066575',
 '032640',
 '093050',
 '108670',
 '108675',
 '051910',
 '051915',
 '006260',
 '000680',
 '010120',
 '023150',
 '035420',
 '008260',
 '010060',
 '005490',
 '100840',
 '064960',
 '000040',
 '003570',
 '036530',
 '010950',
 '010955',
 '034120',
 '101060',
 '001380',
 '004060',
 '002360',
 '009160',
 '025530',
 '034730',
 '011790',
 '018670',
 '001740',
 '001745',
 '096770',
 '096775',
 '001510',
 '001515',
 '006120',
 '006125',
 '017670',
 '011810',
 '077970',
 '071970',
 '028670',
 '011000',
 '024070',
 '000500',
 '035250',
 '000860',
 '002100',
 '012320',
 '009450',
 '000050',
 '012610',
 '009140',
 '013580',
 '012200',
 '012205',
 '002140',
 '010130',
 '002240',
 '009810',
 '001290',
 '009290',
 '017040',
 '017900',
 '037710',
 '030610',
 '007690',
 '005320',
 '001140',
 '002720',
 '014530',
 '086280',
 '014280',
 '014285',
 '008870',
 '001570',
 '002990',
 '002995',
 '011780',
 '011785',
 '001210',
 '010050',
 '073240',
 '092440',
 '000270',
 '024110',
 '001260',
 '008350',
 '008355',
 '004270',
 '003920',
 '003925',
 '002070',
 '025860',
 '004250',
 '004255',
 '005720',
 '005725',
 '002350',
 '002355',
 '090350',
 '090355',
 '006280',
 '005250',
 '005257',
 '004370',
 '072710',
 '023590',
 '015590',
 '019680',
 '019685',
 '006370',
 '008060',
 '000490',
 '008110',
 '005750',
 '000210',
 '000215',
 '006570',
 '001680',
 '001685',
 '084690',
 '084695',
 '016710',
 '003540',
 '003547',
 '003545',
 '009190',
 '014160',
 '047040',
 '009320',
 '047050',
 '042660',
 '006800',
 '006805',
 '003090',
 '069620',
 '000430',
 '006340',
 '006345',
 '003220',
 '024890',
 '002880',
 '000300',
 '012800',
 '015230',
 '001070',
 '006650',
 '001440',
 '084010',
 '001790',
 '001795',
 '001130',
 '000120',
 '004540',
 '004545',
 '003490',
 '003495',
 '005880',
 '003830',
 '016090',
 '069460',
 '012510',
 '004830',
 '004835',
 '024900',
 '001620',
 '001230',
 '023450',
 '004140',
 '007590',
 '005960',
 '005965',
 '012030',
 '016380',
 '016385',
 '016610',
 '000990',
 '000995',
 '005830',
 '002210',
 '102260',
 '058730',
 '008040',
 '000640',
 '028100',
 '007340',
 '001780',
 '084670',
 '013570',
 '001520',
 '001527',
 '001529',
 '001525',
 '002900',
 '082640',
 '002710',
 '003470',
 '003475',
 '008970',
 '003580',
 '049770',
 '018500',
 '006040',
 '030720',
 '014820',
 '014825',
 '001530',
 '004840',
 '004890',
 '009580',
 '000020',
 '000150',
 '000157',
 '000155',
 '042670',
 '034020',
 '024090',
 '003160',
 '092200',
 '026890',
 '000320',
 '000325',
 '006490',
 '032350',
 '002270',
 '000400',
 '023530',
 '004990',
 '005300',
 '005305',
 '079430',
 '027740',
 '001080',
 '088980',
 '094800',
 '008560',
 '000060',
 '017180',
 '012690',
 '005360',
 '009680',
 '009200',
 '008420',
 '025560',
 '002840',
 '107590',
 '003650',
 '003610',
 '001340',
 '014580',
 '035150',
 '002410',
 '004870',
 '084870',
 '096300',
 '007210',
 '002760',
 '003850',
 '000890',
 '003000',
 '001270',
 '001275',
 '026940',
 '015350',
 '011390',
 '005030',
 '100220',
 '005180',
 '003960',
 '007160',
 '006090',
 '005090',
 '005610',
 '001470',
 '006400',
 '006405',
 '006660',
 '028050',
 '009150',
 '009155',
 '005930',
 '005935',
 '004000',
 '001360',
 '010140',
 '010145',
 '016360',
 '068290',
 '029780',
 '012450',
 '000810',
 '000815',
 '006110',
 '000070',
 '000075',
 '003230',
 '002170',
 '002810',
 '005680',
 '004920',
 '003720',
 '004380',
 '002450',
 '000520',
 '009770',
 '005500',
 '004690',
 '001880',
 '011150',
 '011155',
 '010960',
 '004450',
 '009470',
 '011230',
 '001820',
 '000390',
 '013700',
 '041650',
 '075180',
 '005070',
 '007540',
 '017390',
 '004410',
 '004415',
 '021050',
 '008490',
 '007610',
 '002820',
 '014910',
 '014915',
 '003080',
 '004980',
 '004985',
 '011300',
 '000180',
 '002420',
 '004360',
 '004365',
 '004490',
 '001430',
 '003030',
 '058650',
 '013000',
 '091090',
 '021820',
 '067830',
 '033530',
 '027970',
 '004430',
 '017550',
 '002200',
 '093230',
 '003060',
 '016590',
 '029530',
 '004970',
 '005390',
 '011930',
 '004170',
 '035510',
 '034300',
 '005800',
 '001720',
 '001725',
 '025620',
 '009270',
 '009275',
 '002700',
 '019170',
 '019175',
 '002870',
 '055550',
 '001770',
 '004080',
 '047400',
 '003410',
 '003620',
 '004770',
 '008700',
 '090430',
 '090435',
 '090370',
 '002030',
 '002310',
 '020560',
 '010780',
 '101140',
 '006840',
 '011090',
 '093240',
 '005850',
 '012750',
 '023960',
 '015260',
 '005690',
 '036570',
 '085310',
 '014440',
 '111770',
 '009970',
 '003520',
 '000670',
 '006740',
 '012280',
 '015360',
 '007310',
 '002630',
 '001800',
 '010600',
 '118000',
 '004720',
 '005940',
 '005945',
 '006980',
 '017370',
 '049800',
 '095720',
 '021240',
 '016880',
 '005820',
 '015540',
 '008600',
 '033270',
 '014830',
 '007120',
 '000910',
 '011330',
 '077500',
 '002920',
 '011690',
 '072130',
 '000220',
 '000225',
 '000227',
 '001200',
 '000100',
 '000105',
 '003460',
 '003465',
 '008730',
 '008250',
 '025820',
 '007660',
 '005950',
 '015020',
 '074610',
 '000760',
 '014990',
 '023800',
 '034590',
 '020120',
 '023810',
 '000230',
 '013360',
 '003120',
 '003200',
 '007110',
 '007570',
 '007575',
 '008500',
 '081000',
 '020760',
 '103590',
 '015860',
 '033240',
 '000950',
 '030000',
 '002620',
 '001560',
 '006220',
 '004910',
 '004700',
 '001550',
 '000480',
 '000590',
 '018470',
 '002600',
 '001630',
 '063160',
 '044380',
 '001060',
 '001067',
 '001065',
 '096760',
 '007630',
 '010580',
 '088790',
 '000080',
 '003780',
 '010640',
 '100250',
 '051630',
 '002780',
 '002787',
 '002785',
 '009310',
 '000650',
 '012600',
 '033250',
 '006380',
 '029460',
 '007460',
 '007815',
 '007810',
 '003690',
 '044820',
 '005420',
 '071950',
 '002020',
 '003070',
 '003075',
 '002025',
 '031820',
 '005740',
 '005745',
 '039490',
 '015890',
 '006890',
 '003240',
 '011280',
 '004100',
 '004105',
 '009410',
 '009415',
 '001420',
 '002790',
 '007980',
 '002795',
 '078000',
 '102280',
 '019180',
 '036580',
 '010820',
 '016800',
 '001020',
 '090080',
 '010770',
 '058430',
 '017810',
 '103140',
 '005810',
 '033180',
 '086790',
 '000660',
 '071090',
 '019490',
 '000140',
 '000145',
 '036460',
 '005430',
 '071050',
 '071055',
 '010040',
 '025540',
 '004090',
 '002960',
 '015760',
 '025890',
 '000970',
 '104700',
 '017960',
 '024720',
 '000240',
 '007280',
 '010100',
 '003350',
 '011500',
 '002390',
 '014790',
 '018880',
 '042700',
 '008930',
 '053690',
 '009240',
 '020000',
 '003680',
 '105630',
 '016450',
 '009180',
 '004710',
 '010420',
 '004150',
 '014680',
 '025750',
 '012170',
 '004960',
 '011700',
 '034310',
 '001750',
 '001755',
 '009420',
 '014130',
 '003300',
 '007860',
 '002220',
 '051600',
 '052690',
 '002320',
 '097230',
 '003480',
 '000700',
 '005110',
 '009460',
 '000880',
 '009830',
 '009835',
 '000370',
 '000885',
 '003530',
 '003535',
 '089470',
 '005440',
 '000720',
 '000725',
 '012330',
 '010620',
 '069960',
 '012630',
 '011760',
 '011200',
 '006390',
 '004310',
 '017800',
 '004020',
 '009540',
 '005380',
 '005387',
 '005389',
 '005385',
 '001450',
 '003010',
 '011170',
 '008770',
 '008775',
 '002460',
 '013520',
 '006060',
 '010690',
 '010660',
 '000850',
 '016580',
 '032560',
 '004800',
 '094280',
 '093370',
 '037270',
 '005870',
 '005010',
 '069260',
 '000540',
 '000547',
 '000545',
 '003280',
 '012160',
 '115390',
 '119650',
 '071320',
 '120110',
 '120115',
 '120030',
 '088350',
 '031440',
 '032830',
 '060980',
 '123700',
 '123690',
 '102460',
 '033920',
 '105840',
 '128820',
 '122900',
 '128940',
 '002150',
 '057050',
 '058850',
 '081660',
 '030790',
 '900140',
 '130660',
 '058860',
 '126560',
 '117580',
 '082740',
 '134790',
 '134380',
 '136490',
 '011210',
 '020150',
 '138930',
 '023350',
 '138040',
 '019440',
 '053210',
 '139130',
 '139480',
 '138490',
 '069640',
 '071840',
 '047810',
 '140910',
 '031430',
 '023000',
 '078520',
 '000087',
 '039130',
 '145990',
 '145995',
 '129260',
 '007070',
 '145270',
 '079980',
 '152550',
 '144620',
 '153360',
 '155900',
 '014710',
 '068400',
 '161000',
 '161390',
 '163560',
 '161890',
 '037560',
 '013870',
 '170900',
 '168490',
 '155660',
 '00781K',
 '172580',
 '175330',
 '181710',
 '180640',
 '18064K',
 '064350',
 '183190',
 '006880',
 '185750',
 '192820',
 '027410',
 '133820',
 '192400',
 '200880',
 '204320',
 '018260',
 '112610',
 '028260',
 '210540',
 '213500',
 '145210',
 '138250',
 '210980',
 '214390',
 '085620',
 '214420',
 '214320',
 '03473K',
 '095570',
 '02826K',
 '002690',
 '039570',
 '079550',
 '227840',
 '089590',
 '214330',
 '075580',
 '226320',
 '194370',
 '004440',
 '101530',
 '070960',
 '195870',
 '034830',
 '123890',
 '026960',
 '016740',
 '248170',
 '249420',
 '204210',
 '229640',
 '241590',
 '00088K',
 '234080',
 '207940',
 '241560',
 '143210',
 '111110',
 '145720',
 '264900',
 '26490K',
 '267270',
 '267250',
 '267260',
 '267290',
 '251270',
 '268280',
 '271560',
 '035720',
 '271980',
 '280360',
 '00499K',
 '055490',
 '282690',
 '272550',
 '281820',
 '282330',
 '092780',
 '272450',
 '285130',
 '28513K',
 '284740',
 '068270',
 '00680K',
 '018250',
 '294870',
 '088260',
 '298040',
 '298050',
 '298020',
 '298000',
 '286940',
 '091810',
 '300720',
 '293940',
 '010400',
 '293480',
 '306200',
 '267850',
 '00806K',
 '298690',
 '316140',
 '192080',
 '192650',
 '307950',
 '003670',
 '00104K',
 '336370',
 '33637K',
 '33637L',
 '336260',
 '33626K',
 '33626L',
 '036420',
 '330590',
 '013890',
 '317400',
 '272210',
 '322000',
 '308170',
 '338100',
 '00279K',
 '344820',
 '353200',
 '35320K',
 '326030',
 '334890',
 '357250',
 '350520',
 '348950',
 '357120',
 '363280',
 '36328K',
 '352820',
 '339770',
 '244920',
 '009900',
 '365550',
 '375500',
 '37550K',
 '248070',
 '950210',
 '378850',
 '302440',
 '361610',
 '383220',
 '380440',
 '383800',
 '38380K',
 '097520',
 '137310',
 '323410',
 '178920',
 '259960',
 '372910',
 '089860',
 '139990',
 '377190',
 '271940',
 '395400',
 '329180',
 '381970']

In [12]:
from stockdata import StockShareDB

folderPath = Path.cwd().joinpath('DataStock')

start = '20100101'
end = '20100228'

db = StockShareDB(folderPath)
db.createDb(start, end)

100%|██████████| 6/6 [00:17<00:00,  3.00s/it]
100%|██████████| 195/195 [00:02<00:00, 82.86it/s]

In [13]:
query = QueryStockDataDB.QueryStockData(folderPath)
df = query.queryStockNumberOfSharesDB(by='parquet')
df

,date,ticker,name,nOfShare,kindOfStock,familyStock1,nOfShare_familyStock1,familyStock2,nOfShare_familyStock2,familyStock3,nOfShare_familyStock3,familyStock4,nOfShare_familyStock4
0,2010-01-04,000540,흥국화재,51242132,commonStock,흥국화재2우B,153600,흥국화재우,768000.0,None,None,None,None
1,2010-01-04,001460,BYC,624615,commonStock,BYC우,215385,None,NaN,None,None,None,None
2,2010-01-04,000547,흥국화재2우B,153600,preferredStock,흥국화재,51242132,흥국화재우,768000.0,None,None,None,None
3,2010-01-04,001465,BYC우,215385,preferredStock,BYC,624615,None,NaN,None,None,None,None
4,2010-01-04,000545,흥국화재우,768000,preferredStock,흥국화재,51242132,흥국화재2우B,153600.0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,2010-02-26,000540,흥국화재,51395972,commonStock,흥국화재2우B,153600,흥국화재우,768000.0,None,None,None,None
191,2010-02-26,001460,BYC,624615,commonStock,BYC우,215385,None,NaN,None,None,None,None
192,2010-02-26,000547,흥국화재2우B,153600,preferredStock,흥국화재,51395972,흥국화재우,768000.0,None,None,None,None
193,2010-02-26,000545,흥국화재우,768000,preferredStock,흥국화재,51395972,흥국화재2우B,153600.0,None,None,None,None
194,2010-02-26,001465,BYC우,215385,preferredStock,BYC,624615,None,NaN,None,None,None,None

In [3]:
api_key = '92c176817e681dcc4ad263eb3fa5182792b0b7a3'
dart = OpenDartReader(api_key)

In [4]:
corp = '005930' # 기업코드
bsns_year = '2020' # 기준연도
fs_div = 'CFS' # 연결재무제표: CFS / 개별재무제표 :OFS
reprt_code = '11011' # 사업보고서: 11011 / 반기보고서: 11012 / 1분기보고서: 11013 /  3분기보고서: 11014

In [61]:
corp = '005930' # 기업코드 '005930'
fs_div = 'OFS' # 연결재무제표: CFS / 개별재무제표 :OFS
reprt_code = '11011' # 사업보고서: 11011 / 반기보고서: 11012 / 1분기보고서: 11013 /  3분기보고서: 11014

bsns_years = [year for year in range(2010, 2022)]
dfs = []
for bsns_year in tqdm(bsns_years) :
    df = dart.finstate_all(corp=corp, bsns_year=bsns_year, fs_div=fs_div, reprt_code=reprt_code)
    dfs.append(df)

100%|██████████| 12/12 [00:01<00:00, 11.44it/s]

In [62]:
pd.concat(dfs).bsns_year.unique().tolist()

['2015', '2016', '2017', '2018', '2019', '2020']

In [45]:
# corp = '005930' # 기업코드
# bsns_year = 2013
# fs_div = 'CFS' # 연결재무제표: CFS / 개별재무제표 :OFS
# reprt_code = '11011' # 사업보고서: 11011 / 반기보고서: 11012 / 1분기보고서: 11013 /  3분기보고서: 11014

# dart.finstate(corp=corp, bsns_year=bsns_year)

In [46]:
# corp = '005930' # 기업코드
# bsns_year = 2015
# fs_div = 'CFS' # 연결재무제표: CFS / 개별재무제표 :OFS
# reprt_code = '11011' # 사업보고서: 11011 / 반기보고서: 11012 / 1분기보고서: 11013 /  3분기보고서: 11014

# # dart.finstate_all(corp=corp, bsns_year=bsns_year, fs_div=fs_div, reprt_code=reprt_code)
# dart.finstate_all(corp=corp, bsns_year=bsns_year, fs_div=fs_div, reprt_code=reprt_code)

In [42]:
dart.list('005930', start='1999-01-01', end='2019-12-31', kind='A', final=False).head(40)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,분기보고서 (2019.09),20191114001273,삼성전자,20191114,
1,00126380,삼성전자,005930,Y,반기보고서 (2019.06),20190814002218,삼성전자,20190814,
2,00126380,삼성전자,005930,Y,분기보고서 (2019.03),20190515001605,삼성전자,20190515,
3,00126380,삼성전자,005930,Y,사업보고서 (2018.12),20190401004781,삼성전자,20190401,연
4,00126380,삼성전자,005930,Y,분기보고서 (2018.09),20181114001530,삼성전자,20181114,
5,00126380,삼성전자,005930,Y,반기보고서 (2018.06),20180814001113,삼성전자,20180814,
6,00126380,삼성전자,005930,Y,분기보고서 (2018.03),20180515001699,삼성전자,20180515,
7,00126380,삼성전자,005930,Y,사업보고서 (2017.12),20180402005019,삼성전자,20180402,연
8,00126380,삼성전자,005930,Y,분기보고서 (2017.09),20171114001694,삼성전자,20171114,
9,00126380,삼성전자,005930,Y,반기보고서 (2017.06),20170814001832,삼성전자,20170814,
10,00126380,삼성전자,005930,Y,분기보고서 (2017.03),20170515003806,삼성전자,20170515,
11,00126380,삼성전자,005930,Y,사업보고서 (2016.12),20170331004518,삼성전자,20170331,연
12,00126380,삼성전자,005930,Y,분기보고서 (2016.09),20161114001491,삼성전자,20161114,
13,00126380,삼성전자,005930,Y,반기보고서 (2016.06),20160816001779,삼성전자,20160816,
14,00126380,삼성전자,005930,Y,분기보고서 (2016.03),20160516003174,삼성전자,20160516,
15,00126380,삼성전자,005930,Y,사업보고서 (2015.12),20160330003536,삼성전자,20160330,연
16,00126380,삼성전자,005930,Y,분기보고서 (2015.09),20151116000976,삼성전자,20151116,
17,00126380,삼성전자,005930,Y,반기보고서 (2015.06),20150817000859,삼성전자,20150817,
18,00126380,삼성전자,005930,Y,분기보고서 (2015.03),20150515001379,삼성전자,20150515,
19,00126380,삼성전자,005930,Y,사업보고서 (2014.12),20150331002915,삼성전자,20150331,연
20,00126380,삼성전자,005930,Y,분기보고서 (2014.09),20141114000755,삼성전자,20141114,
21,00126380,삼성전자,005930,Y,반기보고서 (2014.06),20140814000743,삼성전자,20140814,
22,00126380,삼성전자,005930,Y,분기보고서 (2014.03),20140515001057,삼성전자,20140515,
23,00126380,삼성전자,005930,Y,사업보고서 (2013.12),20140331002427,삼성전자,20140331,연
24,00126380,삼성전자,005930,Y,분기보고서 (2013.09),20131114000520,삼성전자,20131114,
25,00126380,삼성전자,005930,Y,반기보고서 (2013.06),20130814000618,삼성전자,20130814,
26,00126380,삼성전자,005930,Y,분기보고서 (2013.03),20130515000677,삼성전자,20130515,
27,00126380,삼성전자,005930,Y,사업보고서 (2012.12),20130401003031,삼성전자,20130401,연
28,00126380,삼성전자,005930,Y,분기보고서 (2012.09),20121114000975,삼성전자,20121114,
29,00126380,삼성전자,005930,Y,반기보고서 (2012.06),20120814001232,삼성전자,20120814,
30,00126380,삼성전자,005930,Y,[첨부추가]사업보고서 (2011.12),20120330002110,삼성전자,20120330,연
31,00126380,삼성전자,005930,Y,분기보고서 (2012.03),20120515001281,삼성전자,20120515,
32,00126380,삼성전자,005930,Y,분기보고서 (2011.09),20111129000501,삼성전자,20111129,
33,00126380,삼성전자,005930,Y,[기재정정]반기보고서 (2011.06),20110916000072,삼성전자,20110916,
34,00126380,삼성전자,005930,Y,반기보고서 (2011.06),20110829000539,삼성전자,20110829,정
35,00126380,삼성전자,005930,Y,[첨부추가]사업보고서 (2010.12),20110331002193,삼성전자,20110331,연
36,00126380,삼성전자,005930,Y,분기보고서 (2011.03),20110530000628,삼성전자,20110530,
37,00126380,삼성전자,005930,Y,분기보고서 (2010.09),20101129000419,삼성전자,20101129,
38,00126380,삼성전자,005930,Y,반기보고서 (2010.06),20100830000360,삼성전자,20100830,
39,00126380,삼성전자,005930,Y,[첨부추가]사업보고서 (2009.12),20100331001680,삼성전자,20100331,연