In [1]:
from pathlib import Path
from tqdm import tqdm
import re
import pandas as pd
from datetime import datetime, timedelta
import time
import random
import sqlite3
import QueryStockDataDB
import stockdata
import OpenDartReader
from pykrx import stock

import re

import requests
from bs4 import BeautifulSoup

In [2]:
api_key = '92c176817e681dcc4ad263eb3fa5182792b0b7a3'
dart = OpenDartReader(api_key)

In [3]:
folderPath = Path.home().joinpath('Desktop', "dataBackUp(211021)")

In [4]:
def getTickersList(folderPath):
    stockN = pd.read_parquet(folderPath/'stockNumberOfSharesDB.parquet')
    con = stockN.loc[:,'kindOfStock'] == 'commonStock'
    tickers = stockN.loc[con, 'ticker'].unique().tolist()
    return tickers

In [5]:
def getNameList(tickers, folderPath) :
    stockList = pd.read_parquet(folderPath/'stockListDB.parquet')
    names = []
    for ticker in tqdm(tickers) :
        con = stockList.loc[:, 'ticker'] == ticker
        name = stockList.loc[con, 'name'].iat[-1]
        names.append(name)
    return names

In [6]:
def getCorpCodeList(tickers) :
    corp_codes = []
    fail_corp_codes = [] 
    for ticker in tqdm(tickers) :
        try:
            corp_code = dart.find_corp_code(ticker)
            corp_codes.append(corp_code)
        except :
            fail_corp_codes.append(ticker)
    return corp_codes, fail_corp_codes

In [7]:
def createCorpCodesDf(folderPath) :
    tickers = getTickersList(folderPath)
    nameList = getNameList(tickers, folderPath)
    corpCodeList, failCorpCodeList = getCorpCodeList(tickers)
    infoDf = pd.DataFrame({'tickers' : tickers, 
                        'names' :nameList,
                        'corp_codes' :corpCodeList})
    return infoDf, failCorpCodeList

In [8]:
def getTickerNameCorpcode(k, infoDf):
    ticker = infoDf.loc[k, 'tickers']
    name = infoDf.loc[k, 'names']
    corp_code = infoDf.loc[k, 'corp_codes']

    return ticker, name, corp_code

In [9]:
def getParamsDic(apiKey, corp_code, pblntf_ty, start, end) :
    paramsDic = {
        'crtfc_key' : apiKey,
        'corp_code' : corp_code,
        'bgn_de' : start,
        'end_de' : end,
        'pblntf_ty': pblntf_ty,
        'last_reprt_at' : 'N',
        'page_count' : 100
    }
    return paramsDic

In [10]:
def rceptNoDf(apiKey, infoDf, start, end) :

    url = 'https://opendart.fss.or.kr/api/list.json'

    cols = ['corp_code', 'corp_name', 'stock_code', 'corp_cls', 'report_nm', 'rcept_no', 'flr_nm', 'rcept_dt', 'rm']
    rceptNoDf = pd.DataFrame(columns=cols)
    failsDic = {'ticker':[], 'name':[], 'corp_code':[]}
    status_codes = []

    for k in tqdm(range(len(infoDf))) :
        ticker, name, corp_code = getTickerNameCorpcode(k, infoDf)
        A_paramsDic = getParamsDic(apiKey, corp_code, 'A', start, end)
        r = requests.get(url, A_paramsDic)
        status = r.json()['status']
        status_codes.append(status)

        if status == '000' :
            rceptNoDf = rceptNoDf.append(pd.DataFrame(r.json()['list']))
            
        elif status == '013' :
            F_paramsDic = getParamsDic(apiKey, corp_code, 'F', start, end)
            r = requests.get(url, F_paramsDic)
            status = r.json()['status']

            if status == '000' : 
                rceptNoDf = rceptNoDf.append(pd.DataFrame(r.json()['list']))

            else :
                failsDic['ticker'].append(ticker)
                failsDic['name'].append(name)
                failsDic['corp_code'].append(corp_code)
                
        else :
            failsDic['ticker'].append(ticker)
            failsDic['name'].append(name)
            failsDic['corp_code'].append(corp_code)

    return rceptNoDf, status_codes, failsDic

In [11]:
apiKey = '92c176817e681dcc4ad263eb3fa5182792b0b7a3'
folderPath = Path.home().joinpath('Desktop','dataBackUp(211027)')
infoDf, failCorpCodeList = createCorpCodesDf(folderPath)
rceptNoDf, status_codes, failsDic = rceptNoDf(apiKey, infoDf, '20100101', '20211106')

100%|██████████| 1027/1027 [00:00<00:00, 3433.19it/s]
100%|██████████| 1027/1027 [00:04<00:00, 232.31it/s]
100%|██████████| 1027/1027 [01:41<00:00, 10.10it/s]

In [18]:
# display(pd.DataFrame(fails))
print(len(pd.DataFrame(failsDic)))
print(len(infoDf))
print(len(rceptNoDf.corp_code.unique().tolist()))
con = rceptNoDf.report_nm.str.contains('감사')
rceptNoDf.loc[con]
pd.DataFrame(failsDic)
con = infoDf.corp_codes.isnull()
display(infoDf.loc[con])
failCorpCodeList

35
1027
992

    tickers          names corp_codes
30   071955        코아스웰1우B       None
106  003945          삼양제넥우       None
133  004149      동방전환상환3우B       None
134  004147      동방전환상환2우B       None
157  00341D        쌍용양회5우B       None
158  00341A        쌍용양회4우B       None
159  003419        쌍용양회3우B       None
160  003417        쌍용양회2우B       None
162  003415          쌍용양회우       None
243  000997       동부하이텍2우B       None
284  000425          로케트전우       None
357  001385        SG충남방적우       None
391  008355          남선알미우       None
462  016575          태평양제우       None
466  007815          코리아써우       None
480  007595          동방아그우       None
498  010145          삼성중공우       None
543  009385         아세아페우B       None
567  009815         고려포리머우       None
710  006375          대구백화우       None
714  017555          수산중공우       None
823  000687  LS네트웍스전환상환2우B       None

[]

In [19]:
addDf = rceptNoDf.report_nm.str.extract(r'\[?(\w*)\]?(사업보고서|반기보고서|분기보고서|감사보고서|연결감사보고서).*\((\d{4}\.\d{2})\)', expand=True).rename(columns={0:'add_info', 1:'kind', 2:'date'})
addedReportInfoDf = pd.concat([rceptNoDf, addDf], axis=1)
addedReportInfoDf.kind.unique().tolist()
dropaddedReportInfoDf = addedReportInfoDf.dropna()  # 사업보고서, 반기보고서, 분기보고서, 감사보고서, 연결감사보거서 이외의 보고서는 삭제(필요없음)
con = dropaddedReportInfoDf.loc[:, 'kind'].isnull()
dropaddedReportInfoDf.loc[con]
dropaddedReportInfoDf

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm,add_info,kind,date
0,00119195,동화약품,000020,Y,반기보고서 (2021.06),20210817000691,동화약품,20210817,,,반기보고서,2021.06
1,00119195,동화약품,000020,Y,분기보고서 (2021.03),20210514000833,동화약품,20210514,,,분기보고서,2021.03
2,00119195,동화약품,000020,Y,사업보고서 (2020.12),20210317000578,동화약품,20210317,연,,사업보고서,2020.12
3,00119195,동화약품,000020,Y,분기보고서 (2020.09),20201113000729,동화약품,20201113,,,분기보고서,2020.09
4,00119195,동화약품,000020,Y,반기보고서 (2020.06),20200814000382,동화약품,20200814,,,반기보고서,2020.06
...,...,...,...,...,...,...,...,...,...,...,...,...
1,01390344,현대중공업,329180,Y,분기보고서 (2021.03),20210517001476,현대중공업,20210517,,,분기보고서,2021.03
2,01390344,현대중공업,329180,Y,사업보고서 (2020.12),20210401001108,현대중공업,20210401,연,,사업보고서,2020.12
0,01323032,케이카,381970,Y,감사보고서 (2020.12),20210401000915,삼정회계법인,20210401,,,감사보고서,2020.12
1,01323032,케이카,381970,Y,감사보고서 (2019.12),20200407001065,삼정회계법인,20200407,,,감사보고서,2019.12
2,01323032,케이카,381970,Y,감사보고서 (2018.12),20190401001715,삼정회계법인,20190401,,,감사보고서,2018.12

In [20]:
def getString(reprt_code) : 
    
    url = f'http://dart.fss.or.kr/dsaf001/main.do?rcpNo={reprt_code}'
    r = requests.get(url)
    if r.status_code == 200 :
        string = r.text 
    return string

In [21]:
def get_regex_search_node1(key, scriipt_tag) :
    return re.findall(r'node1\[\'' + key + '\'\]\s*=\s*(".*?")', scriipt_tag)

In [22]:
def get_regex_search_node2(key, scriipt_tag) :
    return re.findall(r'node2\[\'' + key + '\'\]\s*=\s*(".*?")', scriipt_tag)

In [23]:

def getMainReportDf(report_code) :
        string = getString(report_code)

        dic = {'text' : get_regex_search_node2('text', string),
                'id' : get_regex_search_node2('id', string),
                'rcpNo' : get_regex_search_node2('rcpNo', string), 
                'dcmNo' : get_regex_search_node2('dcmNo', string), 
                'eleId' : get_regex_search_node2('eleId', string), 
                'offset' : get_regex_search_node2('offset', string),
                'length' : get_regex_search_node2('length', string),
                'dtd' : get_regex_search_node2('dtd', string),
                'tocNo' : get_regex_search_node2('tocNo', string),
        }

        reportDf = pd.DataFrame(dic)
        reportDf = reportDf.applymap(lambda x: x.strip('"'))         
        return reportDf

In [24]:
def getConsolidatedDic(df) :
    con = df.text.str.contains('.*연결재무제표$')
    dic = df.loc[con].to_dict('records')[0]
    return dic

In [25]:
infoLst = dropaddedReportInfoDf.sample(1).to_dict('records')
for dic in infoLst :
    ticker = dic['stock_code']
    reprt_code = dic['rcept_no']
    date = dic['date']
    print(ticker, date, reprt_code, sep=', ')

005980, 2012.12, 20130430000560

In [120]:


dic = dropaddedReportInfoDf.sample(1).to_dict('records')[0]
ticker = dic['stock_code']
reprt_code = dic['rcept_no']
date = dic['date']
print(ticker, date, reprt_code, sep=', ')

ticker = '016360'  # 000020
con = dropaddedReportInfoDf.stock_code == ticker
# rcept_noLst = dropaddedReportInfoDf.loc[con].rcept_no.unique().tolist()
dropaddedReportInfoDf.loc[con]
reprt_code = '20201113000758' # 20150331002176  20141114001023      

url = f'http://dart.fss.or.kr/dsaf001/main.do?rcpNo={reprt_code}'
r = requests.get(url)
string = r.text 
dic = {'text' : get_regex_search_node2('text', string),
                'id' : get_regex_search_node2('id', string),
                'rcpNo' : get_regex_search_node2('rcpNo', string), 
                'dcmNo' : get_regex_search_node2('dcmNo', string), 
                'eleId' : get_regex_search_node2('eleId', string), 
                'offset' : get_regex_search_node2('offset', string),
                'length' : get_regex_search_node2('length', string),
                'dtd' : get_regex_search_node2('dtd', string),
                'tocNo' : get_regex_search_node2('tocNo', string),
        }
reportDf = pd.DataFrame(dic)
reportDf = reportDf.applymap(lambda x: x.strip('"'))
display(reportDf)
con = reportDf.text.str.contains('.*연결재무제표$')
dic = reportDf.loc[con].to_dict('records')
if dic :
        dic = dic[0]
        print(dic)
else:
        dic = {'text' : get_regex_search_node1('text', string),
                'id' : get_regex_search_node1('id', string),
                'rcpNo' : get_regex_search_node1('rcpNo', string), 
                'dcmNo' : get_regex_search_node1('dcmNo', string), 
                'eleId' : get_regex_search_node1('eleId', string), 
                'offset' : get_regex_search_node1('offset', string),
                'length' : get_regex_search_node1('length', string),
                'dtd' : get_regex_search_node1('dtd', string),
                'tocNo' : get_regex_search_node1('tocNo', string),
        }
        reportDf = pd.DataFrame(dic)
        reportDf = reportDf.applymap(lambda x: x.strip('"'))
        display(reportDf)
        con = reportDf.text.str.contains('.*재무제표.*$')
        dic = reportDf.loc[con].to_dict('records')
        dic = dic[0]
        print(dic)

url = f'http://dart.fss.or.kr/report/viewer.do?'
r = requests.get(url, params=dic)
html = r.text
soup = BeautifulSoup(html, 'html.parser')
table = soup.select('table')
if table :
        table = pd.read_html(html)
        length = len(table)
        for k in range(0, length):
                title_candi = table[k]
                print(title_candi)
                if isinstance(title_candi, str) :
                        lst = re.findall('.*재무상태표$|.*손익계산서$|.*현금흐름표$', title_candi)
                        print(lst)
                if lst :
                        print(k, title_candi, sep=':')
                        display(table[k+1])
else : 
        con = reportDf.text.str.contains('\d{1}\.\s?재무제표$')
        dic = reportDf.loc[con].to_dict('records')[0]
        print(dic)

        url = f'http://dart.fss.or.kr/report/viewer.do?'
        r = requests.get(url, params=dic)
        html = r.text
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.select('table')
        if table :
                table = pd.read_html(html)
                length = len(table)
                for k in range(0, length):
                        title_candi = table[k].iat[0,0]
                        if isinstance(title_candi, str) :
                                lst = re.findall('.*재무상태표$|.*손익계산서$|.*현금흐름표$', title_candi)
                        if lst :
                                print(k, title_candi, sep=':')
                                display(table[k+1])

007630, 2016.12, 20170814001657

,text,id,rcpNo,dcmNo,eleId,offset,length,dtd,tocNo
0,1. 회사의 개요,4,20201113000758,7544903,4,14414,114934,dart3.xsd,4
1,2. 회사의 연혁,5,20201113000758,7544903,5,129352,21281,dart3.xsd,5
2,3. 자본금 변동사항,6,20201113000758,7544903,6,150637,4112,dart3.xsd,6
3,4. 주식의 총수 등,7,20201113000758,7544903,7,154753,7626,dart3.xsd,7
4,5. 의결권 현황,8,20201113000758,7544903,8,162383,5969,dart3.xsd,8
5,6. 배당에 관한 사항 등,9,20201113000758,7544903,9,168356,8995,dart3.xsd,9
6,1. 요약재무정보,12,20201113000758,7544903,12,751748,40844,dart3.xsd,12
7,2. 연결재무제표,13,20201113000758,7544903,13,792799,96035,dart3.xsd,13
8,3. 연결재무제표 주석,14,20201113000758,7544903,14,888838,718811,dart3.xsd,14
9,4. 재무제표,15,20201113000758,7544903,15,1607653,81212,dart3.xsd,15
10,5. 재무제표 주석,16,20201113000758,7544903,16,1688869,882742,dart3.xsd,16
11,6. 기타 재무에 관한 사항,17,20201113000758,7544903,17,2571641,763598,dart3.xsd,17
12,1. 이사회에 관한 사항,21,20201113000758,7544903,21,3353743,81084,dart3.xsd,21
13,2. 감사제도에 관한 사항,22,20201113000758,7544903,22,3434831,26215,dart3.xsd,22
14,3. 주주의 의결권 행사에 관한 사항,23,20201113000758,7544903,23,3461050,422,dart3.xsd,23
15,1. 임원 및 직원 등의 현황,26,20201113000758,7544903,26,3530952,61373,dart3.xsd,26
16,2. 임원의 보수 등,27,20201113000758,7544903,27,3592329,10131,dart3.xsd,27
17,1. 전문가의 확인,32,20201113000758,7544903,32,4096068,135,dart3.xsd,32
18,2. 전문가와의 이해관계,33,20201113000758,7544903,33,4096207,130,dart3.xsd,33

{'text': '2. 연결재무제표', 'id': '13', 'rcpNo': '20201113000758', 'dcmNo': '7544903', 'eleId': '13', 'offset': '792799', 'length': '96035', 'dtd': 'dart3.xsd', 'tocNo': '13'}
                          0
0  제39기 3분기 2020년 9월 30일 현재
1     제38기 2019년 12월 31일 현재
2     제37기 2018년 12월 31일 현재
                   0         1
0  삼성증권 주식회사와 그 종속기업  (단위 : 원)
                                                  과 목          주석  \
0                                                 자 산         NaN
1                                         I. 현금및현금성자산       536.0
2                                 II. 당기손익-공정가치측정금융자산   6333536.0
3                              III. 기타포괄손익-공정가치측정금융자산   7333536.0
4                                     IV. 상각후원가측정금융자산   8333536.0
5                                         V. 관계기업투자지분         9.0
6                                            VI. 유형자산        10.0
7                                           VII. 무형자산        11.0
8                                       VIII. 당기법인세자산        30.0
9                                         IX. 이연법인세자산        30.0
10                                            X. 기타자산      1234.0
11                                            자 산 총 계         NaN
12                                                부 채         NaN
13                                 I. 당기손익-공정가치측정금융부채  13333536.0
14                                           II. 예수부채  14343536.0
15                                          III. 차입부채  15333536.0
16                                           IV. 발행사채    153536.0
17                                         V. 순확정급여부채        16.0
18                                           VI. 충당부채        17.0
19                                       VII. 당기법인세부채        30.0
20                                      VIII. 이연법인세부채        30.0
21                                           IX. 기타부채  18343536.0
22                                            부 채 총 계         NaN
23                                                자 본         NaN
24                                지배기업의 소유주에게 귀속되는 지분         NaN
25                                             I. 자본금        19.0
26                                          II. 자본잉여금        20.0
27                                          III. 자본조정        21.0
28                                      IV. 기타포괄손익누계액       721.0
29  V. 이익잉여금 (대손준비금 기적립액 당분기: 60,206,237,696원 전 기:...        22.0
30                                              비지배지분         NaN
31                                            자 본 총 계         NaN
32                                      부 채 및 자 본 총 계         NaN

          제 39 기 3분기            제 38 기            제 37 기
0                NaN               NaN               NaN
1      3203012026138     1351167790517     1238465314893
2     33550045738619    28546759977330    22411890207118
3      5564110392394     3102386384355     3295150693745
4     17340634055672    11419621191053    11149526394638
5        83812717508       80918146032       85234550939
6        84776144238       86720737087       44485070089
7        78606606706       79909150976       85109002366
8        48608584756       22578230555        3267775915
9         1551773031        1796576785        1594690125
10       27065518578       37733214123       15920279136
11    59982223557640    44729591398813    38330643978964
12               NaN               NaN               NaN
13    12349451870659    12576226205133    11822197132151
14    13422117337347     7040450566624     5835991949803
15    22334173256903    17322239333073    13476359587630
16     1467602616025      739502947947      668956244066
17       34822139067       21357750346       15863569689
18       14319329476       14352453951       12493836908
19        6277543081        4107225273       87231043089
20      207895145586       97931988711       19352979104
21     4946276017750     1964144402331     1730091596246
22    54782935255894    39780312873389    33668537938686
23               NaN               NaN               NaN
24     5199288301746     4949278525424     4662106040278
25      458478080000      458478080000      458478080000
26     1743464342352     1743464342352     1743464342352
27  (58,577,164,985)  (58,577,164,985)  (58,577,164,985)
28      202401467784      181457758757      160988890091
29     2853521576595     2624455509300     2357751892820
30                 -                 -                 -
31     5199288301746     4949278525424     4662106040278
32    59982223557640    44729591398813    38330643978964
                   0
0  "3. 연결재무제표 주석" 참조
                                       0
0  제39기 3분기 2020년 1월 1일부터 2020년 9월 30일까지
1  제38기 3분기 2019년 1월 1일부터 2019년 9월 30일까지
2     제38기 2019년 1월 1일부터 2019년 12월 31일까지
3     제37기 2018년 1월 1일부터 2018년 12월 31일까지
                   0         1
0  삼성증권 주식회사와 그 종속기업  (단위 : 원)
                                                  과 목       주석  \
                                                  과 목       주석
0                                           I. 순수수료손익  42334.0
1                                            1. 수수료수익      NaN
2                                            2. 수수료비용      NaN
3                                           II. 순이자손익  42434.0
4                                     1. 현금및현금성자산이자수익      NaN
5                                  2. 상각후원가측정금융자산이자수익      NaN
6                             3. 기타포괄손익공정가치측정금융자산이자수익      NaN
7                               4. 당기손익공정가치측정금융자산이자수익      NaN
8                                             5. 이자비용      NaN
9                             III. 당기손익-공정가치측정금융상품순손익    425.0
10                                        1. 지분상품관련이익      NaN
11                                        2. 채무상품관련이익      NaN
12                                        3. 파생상품관련이익      NaN
13                           4. 당기손익-공정가치측정지정금융상품관련이익      NaN
14                                          5. 환율변동이익      NaN
15                                        6. 지분상품관련손실      NaN
16                                        7. 채무상품관련손실      NaN
17                                        8. 파생상품관련손실      NaN
18                           9. 당기손익-공정가치측정지정금융상품관련손실      NaN
19                                         10. 환율변동손실      NaN
20                                         IV. 기타영업손익  42634.0
21                           1. 기타포괄손익-공정가치측정금융자산관련수익      NaN
22                                      2. 금융자산신용손실환입      NaN
23                                          3. 기타영업수익      NaN
24                           4. 기타포괄손익-공정가치측정금융자산관련비용      NaN
25                                        5. 금융자산신용손실      NaN
26                                          6. 기타영업비용      NaN
27                              V. 순영업손익(I+II+III+IV)      NaN
28                                            VI. 인건비  42734.0
29                                       VII. 판매비와관리비  42734.0
30                                         VIII. 영업이익     28.0
31                                          IX. 영업외수익    429.0
32                                           X. 영업외비용    429.0
33                                    XI. 법인세비용차감전순이익      4.0
34                                         XII. 법인세비용     30.0
35                                        XIII. 분기순이익     22.0
36  1. 지배기업소유주지분순이익 (대손준비금 반영 후 조정이익 당 3분기: 228,17...      NaN
37                                        2. 비지배지분순이익      NaN
38                                      XIV. 분기기타포괄손익     21.0
39                           후속적으로 당기손익으로 재분류되지 않는 항목      NaN
40                                   1. 확정급여제도의 재측정요소     16.0
41                          2. 기타포괄손익-공정가치측정지분상품 관련손익      NaN
42                         3. 당기손익-공정가치측정지정금융부채신용위험변동      NaN
43                          후속적으로 당기손익으로 재분류될 수 있는 항목      NaN
44                          1. 기타포괄손익-공정가치측정채무상품 관련손익      NaN
45                                        2. 해외사업환산손익      NaN
46                                         3. 지분법자본변동      NaN
47                                        XV. 분기총포괄이익      NaN
48                                  1. 지배기업소유주지분총포괄이익      NaN
49                                      2. 비지배지분총포괄이익      NaN
50                                 XVI. 지배기업소유주지분주당이익     31.0
51                                      기본 및 희석 주당순이익      NaN

           제 39 기 3분기                          제 38 기 3분기                   \
                  3개월                 누적              3개월               누적
0        272845076019       673701841003     108112117825     369527621409
1        310450613935       798364387546     136976336163     457245778852
2         37605537916       124662546543      28864218338      87718157443
3        163010834980       464221389566     134346739698     373862405319
4          5777141398        16437521069       7770986995      24090381902
5        106368251181       288578106635      75193665849     231354655131
6         16213319361        44449568854      13605420671      41551817566
7         91180430743       305305872392     115304423492     311515916834
8         56528307703       190549679384      77527757309     234650366114
9         18004346243  (232,622,778,741)      37240886781      64506670049
10       125386474740       284420276923      80985238225     192804860341
11       121467211553       432008703684      89676207933     337795689166
12       780380245463      3777777538444     698917693068    2917486231245
13  (226,538,043,948)       968772810837      66509479004     147044009855
14         6239926147       270290405462      74090217840     193758390294
15        55048894321       320958183420      37483077494     116284383311
16        71810949566       205831991309      45017436061     130917047097
17       458018468128      4839883911128     721720037572    2412984698527
18       146553977941       444119000239     127078374364     943470264302
19        57499177756       155099427995      41639023798     120726117615
20        71494494011       186099368336      16154220477     105299671044
21         4825551907        22019993045       3963619164       7153302638
22         3436656356         6629454727    (100,413,786)       2099033924
23       250592734624      1075228705464     158040566115     389030362724
24         4053463308         7478670541          6097780         39633157
25          892614795         3869493156       2185804032       3440942313
26       182414370773       906430621203     143557649204     289502452772
27       525354751253      1091399820164     295853964781     913196367821
28       126051997347       344632914536      89140932774     284262148616
29        82374283508       231302723940      86899435827     225523221966
30       316928470398       515464181688     119813596180     403410997239
31         1604926340         7010504271       2026847432       6298130701
32         1067395295         3253021205  (1,029,349,422)       2145485473
33       317466001443       519221664754     122869793034     407563642467
34        83735215069       138345597459      33943070884     105203737621
35       233730786374       380876067295      88926722150     302359904846
36       233730786374       380876067295      88926722150     302359904846
37                  -                  -                -                -
38          714045871        20943709027  (1,826,508,566)      31298132041
39                NaN                NaN              NaN              NaN
40         1064340610    (2,186,150,553)        232262342  (3,374,780,924)
41         8636349991    (1,382,876,199)  (7,854,160,460)      16020747254
42         1134893403        10553009039  (1,674,102,072)  (1,270,674,720)
43                NaN                NaN              NaN              NaN
44    (3,255,587,862)        10974731967  (1,651,588,739)       3152703472
45    (7,004,360,332)         1963039047       8609097506      15966630603
46          138410061         1021955726        511982857        803506356
47       234444832245       401819776322      87100213584     333658036887
48       234444832245       401819776322      87100213584     333658036887
49                  -                  -                -                -
50                NaN                NaN              NaN              NaN
51               2617               4265              996             3386

             제 38 기           제 37 기
             제 38 기           제 37 기
0      514548597187     566779771571
1      637705383217     682160664366
2      123156786030     115380892795
3      508678844407     469740423410
4       33317441169      12178866693
5      312077149697     285081579273
6       53774021937      81260416094
7      417938961960     357927013723
8      308428730356     266707452373
9       73615875614      34986646693
10     227863972790     171503675624
11     386807365106     314584929502
12    3686565359173    2108649043648
13     219401953962     431037343235
14     165604374579      99674345138
15     138673042616     160369321470
16     185203163508     216025890150
17    2858839646050    2154594945090
18    1265814726002     484692134206
19     164096571820      74780399538
20     124957048104      62689830861
21       7374334020       1511967160
22       2357081450       2083921501
23     505363854667     342548598531
24         39633157        135716723
25      12955973723      12237601405
26     377142615153     271081338203
27    1221800365312    1134196672535
28     388619583182     380338151416
29     315621727022     295731775540
30     517559055108     458126745579
31      10158657532      10402505097
32       5004352949       7128044971
33     522713359691     461401205705
34     130884435461     127315660890
35     391828924230     334085544815
36     391828924230     334085544815
37                -                -
38      20363560916       8048674602
39              NaN              NaN
40  (8,675,331,959)  (4,997,309,430)
41      19740877953  (4,780,749,029)
42    (771,937,221)        344203857
43              NaN              NaN
44       1610898151      10632088414
45       7700124439       7161395185
46        758929553    (310,954,395)
47     412192485146     342134219417
48     412192485146     342134219417
49                -                -
50              NaN              NaN
51             4388             3741
                   0
0  "3. 연결재무제표 주석" 참조
                                       0
0  제39기 3분기 2020년 1월 1일부터 2020년 9월 30일까지
1  제38기 3분기 2019년 1월 1일부터 2019년 9월 30일까지
2     제38기 2019년 1월 1일부터 2019년 12월 31일까지
3     제37기 2018년 1월 1일부터 2018년 12월 31일까지
                   0         1
0  삼성증권 주식회사와 그 종속기업  (단위 : 원)
                          과 목 지배기업의 소유주에게 귀속되는 지분                 \
                          과 목                 자본금          자본잉여금
0                    2018.1.1        458478080000  1743464342352
1                   회계기준 변경효과                   -              -
2                수정 후 재작성된 금액        458478080000  1743464342352
3                        연차배당                   -              -
4                       당기순이익                   -              -
5                      기타포괄손익                 NaN            NaN
6               확정급여제도의 재측정요소                   -              -
7     기타포괄손익-공정가치 측정지분상품 관련손익                   -              -
8     기타포괄손익-공정가치 측정채무상품 관련손익                   -              -
9   당기손익-공정가치측정 지정금융부채 신용위험변동                   -              -
10                    지분법자본변동                   -              -
11                   해외사업환산손익                   -              -
12                종속기업 지분의 대체                   -              -
13                 2018.12.31        458478080000  1743464342352
14                   2019.1.1        458478080000  1743464342352
15                       연차배당                   -              -
16                      당기순이익                   -              -
17                     기타포괄손익                 NaN            NaN
18              확정급여제도의 재측정요소                   -              -
19    기타포괄손익-공정가치 측정지분상품 관련손익                   -              -
20    기타포괄손익-공정가치 측정채무상품 관련손익                   -              -
21  당기손익-공정가치측정 지정금융부채 신용위험변동                   -              -
22                    지분법자본변동                   -              -
23                   해외사업환산손익                   -              -
24                 2019.12.31        458478080000  1743464342352
25                   2019.1.1        458478080000  1743464342352
26                       연차배당                   -              -
27                      분기순이익                   -              -
28                   분기기타포괄손익                 NaN            NaN
29              확정급여제도의 재측정요소                   -              -
30     기타포괄손익-공정가치측정지분상품 관련손익                   -              -
31     기타포괄손익-공정가치측정채무상품 관련손익                   -              -
32   당기손익-공정가치측정지정금융부채 신용위험변동                   -              -
33                    지분법자본변동                   -              -
34                   해외사업환산손익                   -              -
35                  2019.9.30        458478080000  1743464342352
36                   2020.1.1        458478080000  1743464342352
37                       연차배당                   -              -
38                      분기순이익                   -              -
39                   분기기타포괄손익                 NaN            NaN
40              확정급여제도의 재측정요소                   -              -
41     기타포괄손익-공정가치측정지분상품 관련손익                   -              -
42     기타포괄손익-공정가치측정채무상품 관련손익                   -              -
43   당기손익-공정가치측정지정금융부채 신용위험변동                   -              -
44                    지분법자본변동                   -              -
45                   해외사업환산손익                   -              -
46                  2020.9.30        458478080000  1743464342352

                                                                             \
                자본조정        기타포괄손익누계액              이익잉여금                합 계
0   (58,577,164,985)     154886810947      2111390397796      4409642466110
1                  -  (1,946,595,458)         1575950209      (370,645,249)
2   (58,577,164,985)     152940215489      2112966348005      4409271820861
3                  -                -   (89,300,000,000)   (89,300,000,000)
4                  -                -       334085544815       334085544815
5                NaN              NaN                NaN                NaN
6                  -  (4,997,309,430)                  -    (4,997,309,430)
7                  -  (4,780,749,029)                  -    (4,780,749,029)
8                  -      10632088414                  -        10632088414
9                  -        344203857                  -          344203857
10                 -    (310,954,395)                  -      (310,954,395)
11                 -       7161395185                  -         7161395185
12                 -                -                  -                  -
13  (58,577,164,985)     160988890091      2357751892820      4662106040278
14  (58,577,164,985)     160988890091      2357751892820      4662106040278
15                 -                -  (125,020,000,000)  (125,020,000,000)
16                 -                -       391828924230       391828924230
17               NaN              NaN                NaN                NaN
18                 -  (8,675,331,959)                  -    (8,675,331,959)
19                 -      19846185703      (105,307,750)        19740877953
20                 -       1610898151                  -         1610898151
21                 -    (771,937,221)                  -      (771,937,221)
22                 -        758929553                  -          758929553
23                 -       7700124439                  -         7700124439
24  (58,577,164,985)     181457758757      2624455509300      4949278525424
25  (58,577,164,985)     160988890091      2357751892820      4662106040278

In [33]:
stockList = pd.read_parquet(folderPath/'stockListDB.parquet')
con = stockList.loc[:, 'name'] == '동화약품'
stockList.loc[con]

     ticker  name   firstDay     endDay
328  000020  동화약품 2010-01-01 2021-10-26

In [29]:
tickerLst = dropaddedReportInfoDf.stock_code.unique().tolist()
tickerLst = tickerLst[:5]

dics = {}
for ticker in tqdm(tickerLst) :
    time.sleep(1)
    con = dropaddedReportInfoDf.stock_code == ticker
    rcept_noLst = dropaddedReportInfoDf.loc[con].rcept_no.unique().tolist()
    for rcept_no in tqdm(rcept_noLst) :
        mainReportDf = getMainReportDf(rcept_no)
        dics[ticker] = getConsolidatedDic(mainReportDf)

 60%|██████    | 30/50 [00:03<00:02,  9.81it/s]
  0%|          | 0/5 [00:04<?, ?it/s]

IndexError: list index out of range

In [90]:
dics
consolidatedDf = pd.DataFrame(data = dics.values(), index=dics.keys())

In [105]:
consolidatedDf.head(5)

,text,id,rcpNo,dcmNo,eleId,offset,length,dtd,tocNo
000020,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14
078420,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14
002840,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14
078930,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14
002820,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14

In [104]:
tickerLst = list(dics.keys())
dic = dics[tickerLst[0]]
params={
    'rcpNo': dic['rcpNo'],
    'dcmNo': dic['dcmNo'],
    'eleId': dic['eleId'],
    'offset': dic['offset'],
    'length': dic['length'],
    'dtd': dic['dtd']
    }

url = f'https://dart.fss.or.kr/report/viewer.do?'
r = requests.get(url, params=params)
html = r.text

table = pd.read_html(html)
length = len(table)
for k in range(0, length):
    title_candi = table[k].iat[0,0]
    lst = re.findall('.*재무상태표|손익계산서|현금흐름표', title_candi)
    if lst :
        print(k, title_candi, sep=':')
        display(table[k+1])

0:연결 재무상태표

         Unnamed: 0       제 52 기       제 51 기       제 50 기
0                자산          NaN          NaN          NaN
1              유동자산    198215579    181385260    174697424
2          현금및현금성자산     29382578     26885999     30340505
3            단기금융상품     92441703     76252052     65893797
4       단기상각후원가금융자산      2757111      3914216      2703693
5   단기당기손익-공정가치금융자산        71451      1727436      2001948
6              매출채권     30965058     35131343     33867733
7               미수금      3604539      4179120      3080733
8              선급비용      2266100      2406220      4136167
9              재고자산     32043145     26766464     28984704
10           기타유동자산      3754462      4122410      3688144
11         매각예정분류자산       929432            0            0
12            비유동자산    180020139    171179237    164659820
13        상각후원가금융자산            0            0       238309
14  기타포괄손익-공정가치금융자산     12575216      8920712      7301351
15    당기손익-공정가치금융자산      1202969      1049004       775427
16   관계기업 및 공동기업 투자      8076779      7591612      7313206
17             유형자산    128952892    119825474    115416724
18             무형자산     18468502     20703504     14891598
19          순확정급여자산      1355502       589832       562356
20          이연법인세자산      4275000      4505049      5468002
21          기타비유동자산      5113279      7994050     12692847
22             자산총계    378235718    352564497    339357244
23               부채          NaN          NaN          NaN
24             유동부채     75604351     63782764     69081510
25             매입채무      9739222      8718222      8479916
26            단기차입금     16553429     14393468     13586660
27             미지급금     11899022     12002513     10711536
28              선수금      1145423      1072062       820265
29              예수금       974521       897355       951254
30            미지급비용     24330339     19359624     20339687
31          당기법인세부채      4430272      1387773      8720050
32          유동성장기부채       716099       846090        33386
33             충당부채      4349563      4068627      4384038
34           기타유동부채      1127719      1037030      1054718
35         매각예정분류부채       338742            0            0
36            비유동부채     26683351     25901312     22522557
37               사채       948137       975298       961972
38            장기차입금      1999716      2197181        85085
39           장기미지급금      1682910      2184249      3194043
40          순확정급여부채       464458       470780       504064
41          이연법인세부채     18810845     17053808     15162523
42           장기충당부채      1051428       611100       663619
43          기타비유동부채      1725857      2408896      1951251
44             부채총계    102287702     89684076     91604067
45               자본          NaN          NaN          NaN
46       지배기업 소유주지분    267670331    254915472    240068993
47              자본금       897514       897514       897514
48           우선주자본금       119467       119467       119467
49           보통주자본금       778047       778047       778047
50          주식발행초과금      4403893      4403893      4403893
51       이익잉여금(결손금)    271068211    254582894    242698956
52           기타자본항목  (8,687,155)  (4,968,829)  (7,931,370)
53     매각예정분류기타자본항목     (12,132)            0            0
54            비지배지분      8277685      7964949      7684184
55             자본총계    275948016    262880421    247753177
56          부채와자본총계    378235718    352564497    339357244

3:연결 손익계산서

                    Unnamed: 0       제 52 기       제 51 기       제 50 기
0                      수익(매출액)  236806988.0  230400881.0  243771415.0
1                         매출원가  144488296.0  147239549.0  132394411.0
2                        매출총이익   92318692.0   83161332.0  111377004.0
3                      판매비와관리비   56324816.0   55392823.0   52490335.0
4                         영업이익   35993876.0   27768509.0   58886669.0
5                         기타수익    1384068.0    1778666.0    1485037.0
6                         기타비용    2488902.0    1414707.0    1142018.0
7                        지분법이익     506530.0     412960.0     539845.0
8                         금융수익   12267600.0   10161632.0    9999321.0
9                         금융비용   11318055.0    8274871.0    8608896.0
10             법인세비용차감전순이익(손실)   36345117.0   30432189.0   61159958.0
11                       법인세비용    9937285.0    8693324.0   16815101.0
12                  계속영업이익(손실)   26407832.0   21738865.0   44344857.0
13                   당기순이익(손실)   26407832.0   21738865.0   44344857.0
14               당기순이익(손실)의 귀속          NaN          NaN          NaN
15  지배기업의 소유주에게 귀속되는 당기순이익(손실)   26090846.0   21505054.0   43890877.0
16       비지배지분에 귀속되는 당기순이익(손실)     316986.0     233811.0     453980.0
17                        주당이익          NaN          NaN          NaN
18         기본주당이익(손실) (단위 : 원)       3841.0       3166.0       6461.0
19         희석주당이익(손실) (단위 : 원)       3841.0       3166.0       6461.0

6:연결 포괄손익계산서

                    Unnamed: 0       제 52 기       제 51 기     제 50 기
0                    당기순이익(손실)     26407832     21738865   44344857
1                       기타포괄손익  (3,673,905)      3016194   (12,242)
2   후속적으로 당기손익으로 재분류되지 않는 포괄손익      1788764     (50,765)  (656,647)
3          기타포괄손익-공정가치금융자산평가손익      2502733      1146599  (235,865)
4   관계기업 및 공동기업의 기타포괄손익에 대한 지분         5591     (16,896)   (10,631)
5            순확정급여부채(자산) 재측정요소    (719,560)  (1,180,468)  (410,151)
6      후속적으로 당기손익으로 재분류되는 포괄손익  (5,462,669)      3066959     644405
7   관계기업 및 공동기업의 기타포괄손익에 대한 지분     (48,888)        48649       6688
8                  해외사업장환산외환차이  (5,380,375)      3016499     590638
9             현금흐름위험회피파생상품평가손익     (33,406)         1811      47079
10                       총포괄손익     22733927     24755059   44332615
11                    포괄손익의 귀속          NaN          NaN        NaN
12                  지배기업 소유주지분     22374398     24466985   43882473
13                       비지배지분       359529       288074     450142

12:연결 현금흐름표

                  Unnamed: 0        제 52 기        제 51 기        제 50 기
0                  영업활동 현금흐름      65287009      45382915      67031863
1              영업에서 창출된 현금흐름      68148810      56635791      78025064
2                      당기순이익      26407832      21738865      44344857
3                         조정      41618554      37442682      43604573
4         영업활동으로 인한 자산부채의 변동        122424   (2,545,756)   (9,924,366)
5                     이자의 수취       2220209       2306401       1788520
6                     이자의 지급     (555,321)     (579,979)     (548,272)
7                     배당금 수입        243666        241801        215992
8                    법인세 납부액   (4,770,355)  (13,221,099)  (12,449,441)
9                  투자활동 현금흐름  (53,628,591)  (39,948,171)  (52,240,453)
10           단기금융상품의 순감소(증가)  (20,369,616)   (2,030,913)  (12,368,298)
11      단기상각후원가금융자산의 순감소(증가)        184104     (818,089)   (1,436,844)
12  단기당기손익-공정가치금융자산의 순감소(증가)       1704512        374982     (139,668)
13                장기금융상품의 처분      12184301       4586610        255850
14                장기금융상품의 취득   (8,019,263)  (12,725,465)   (7,678,654)
15             상각후원가금융자산의 처분       1023117        694584             0
16             상각후원가금융자산의 취득             0     (825,027)     (158,716)
17       기타포괄손익-공정가치금융자산의 처분         32128          1575         16211
18       기타포괄손익-공정가치금융자산의 취득     (245,497)      (63,773)     (456,134)
19         당기손익-공정가치금융자산의 처분         39746         64321         80138
20         당기손익-공정가치금융자산의 취득      (84,184)     (135,826)     (193,848)
21        관계기업 및 공동기업 투자의 처분             0         12149           148
22        관계기업 및 공동기업 투자의 취득      (83,280)      (12,778)      (51,226)
23                  유형자산의 처분        376744        513265        556973
24                  유형자산의 취득  (37,592,034)  (25,367,756)  (29,556,406)
25                  무형자산의 처분          7027          7241         11935
26                  무형자산의 취득   (2,679,779)   (3,249,914)   (1,020,517)
27           사업결합으로 인한 현금유출액      (49,420)   (1,019,405)      (99,108)
28        기타투자활동으로 인한 현금유출입액      (57,197)         46048       (2,289)
29                 재무활동 현금흐름   (8,327,839)   (9,484,510)  (15,090,222)
30            단기차입금의 순증가(감소)       2191186        865792   (2,046,470)
31                  자기주식의 취득             0             0     (875,111)
32                 장기차입금의 차입         14495             0          3580
33            사채 및 장기차입금의 상환     (864,947)     (709,400)   (1,986,597)
34                   배당금의 지급   (9,676,760)   (9,639,202)  (10,193,695)
35                 비지배지분의 증감          8187       (1,700)          8071
36                    매각예정분류         (139)             0             0
37          외화환산으로 인한 현금의 변동     (833,861)        595260         94187
38             현금및현금성자산의 순증감       2496579   (3,454,506)     (204,625)
39              기초의 현금및현금성자산      26885999      30340505      30545130
40              기말의 현금및현금성자산      29382578      26885999      30340505

In [68]:
url = '	https://opendart.fss.or.kr/api/corpCode.xml'
params = {'crtfc_key' : '92c176817e681dcc4ad263eb3fa5182792b0b7a3'}

r = requests.get(url, params)

path = Path.home() / 'Desktop'

with open(path / 'dartDownload.zip', 'wb') as f :
    f.write(r.content)

In [54]:
def checkOrder(current_m, before_m):
    dic = {'03':'12', '06':'03', '09':'06', '12':'09'}

    if dic[current_m] == before_m:
        return 'correct'
    else :
        return 'wrong'

In [56]:
dfs = []
fails = []
for k in range(len(infoDf)) :
    ticker = infoDf.loc[k].tickers
    print(ticker)
    name = infoDf.loc[k].names
    corp_code = infoDf.loc[k].corp_codes
    try:
        reportInfoDf = dart.list(ticker, start='2010-01-01', end='2021-11-01', kind='A', final=False)
        addDf = reportInfoDf.report_nm.str.extract(r'\[?(\w*)\]?(사업보고서|반기보고서|분기보고서).*\((\d{4}\.\d{2})\)', expand=True).rename(columns={0:'add_info', 1:'kind', 2:'date'})
        addedReportInfoDf = pd.concat([reportInfoDf, addDf], axis=1)
        addedReportInfoDf = addedReportInfoDf[['corp_code', 'corp_name', 'stock_code','rcept_dt', 'add_info', 'kind', 'date', 'rcept_no']]
        con = addedReportInfoDf.loc[:, 'add_info'] == '기재정정'
        checkDf = addedReportInfoDf.loc[~con].sort_values(by='rcept_dt').reset_index(drop=True)
        checkDf = checkDf.assign(current_m = checkDf.date.str.extract(r'\d{4}.(\d{2})'))
        checkDf = checkDf.assign(before_m = checkDf.current_m.shift(1))
        checkDf['test_result'] = checkDf.apply(lambda row : 'correct' if row.name==0 else checkOrder(row['current_m'], row['before_m']), axis=1, result_type='expand')
        dfs.append(checkDf)
    except :
        fails.append(k)
    # try:
    #     reportInfoDf = dart.list(ticker, start='2010-01-01', end='2021-11-01', kind='A', final=False)
    #     addDf = reportInfoDf.report_nm.str.extract(r'\[?(\w*)\]?(사업보고서|반기보고서|분기보고서).*\((\d{4}\.\d{2})\)', expand=True).rename(columns={0:'add_info', 1:'kind', 2:'date'})
    #     addedReportInfoDf = pd.concat([reportInfoDf, addDf], axis=1)
    #     addedReportInfoDf = addedReportInfoDf[['corp_code', 'corp_name', 'stock_code','rcept_dt', 'add_info', 'kind', 'date', 'rcept_no']]
    #     con = addedReportInfoDf.loc[:, 'add_info'] == '기재정정'
    #     checkDf = addedReportInfoDf.loc[~con].sort_values(by='rcept_dt').reset_index(drop=True)
    #     checkDf = checkDf.assign(current_m = checkDf.date.str.extract(r'\d{4}.(\d{2})'))
    #     checkDf = checkDf.assign(before_m = checkDf.current_m.shift(1))
    #     checkDf['test_result'] = checkDf.apply(lambda row : 'correct' if row.name==0 else checkOrder(row['current_m'], row['before_m']), axis=1, result_type='expand')
    #     dfs.append(checkDf)
    # except :
    #     try :
    #         reportInfoDf = dart.list(name, start='2010-01-01', end='2021-11-01', kind='A', final=False)
    #         addDf = reportInfoDf.report_nm.str.extract(r'\[?(\w*)\]?(사업보고서|반기보고서|분기보고서).*\((\d{4}\.\d{2})\)', expand=True).rename(columns={0:'add_info', 1:'kind', 2:'date'})
    #         addedReportInfoDf = pd.concat([reportInfoDf, addDf], axis=1)
    #         addedReportInfoDf = addedReportInfoDf[['corp_code', 'corp_name', 'stock_code','rcept_dt', 'add_info', 'kind', 'date', 'rcept_no']]
    #         con = addedReportInfoDf.loc[:, 'add_info'] == '기재정정'
    #         checkDf = addedReportInfoDf.loc[~con].sort_values(by='rcept_dt').reset_index(drop=True)
    #         checkDf = checkDf.assign(current_m = checkDf.date.str.extract(r'\d{4}.(\d{2})'))
    #         checkDf = checkDf.assign(before_m = checkDf.current_m.shift(1))
    #         checkDf['test_result'] = checkDf.apply(lambda row : 'correct' if row.name==0 else checkOrder(row['current_m'], row['before_m']), axis=1, result_type='expand')
    #         dfs.append(checkDf)
    #     except :
    #         fails.append(k)
total_result = pd.concat(dfs)

000020
078420
002840
078930
002820
002810
079160
079430
002790
002870
079660
080030
002780
080180
080410
002760
080960
080970
002720
080980
002710
078000
002880
077970
003090
071090
003080
003070
071950
003060
071955
003030
071970
003010
072130
003000
072710
073240
002990
074610
002960
075180
002920
077500
002900
081000
002700
081190
081200
083380
002320
083390
002310
083420
002300
083570
002270
002250
083580
002240
083590
002220
083600
002210
083610
002200
083620
002170
084010
084160
{"status":"013","message":"조회된 데이타가 없습니다."}
002140
084240
084670
002100
002350
003120
083370
083360
002630
081210
002620
081930
002600
002550
002540
002530
081940
002460
082110
082240
002450
082250
002420
082260
002410
082640
002390
002380
083120
{"status":"013","message":"조회된 데이타가 없습니다."}
083350
002360
071050
003160
069960
047050
003960
003945
003940
047400
049770
003920
003850
049800
003830
051310
003780
051600
003720
051630
003690
051900
003680
003650
003640
051910
003620
003610
004000
004020
004200
004170
039490
004150
004149
004147
041650
004140
042660
004130
042670
042700
004100
044380
004090
044450
004080
044820
004060
045710
045820
{"status":"013","message":"조회된 데이타가 없습니다."}
047040
004010
084680
052690
067830
003460
003450
00341D
00341A
003419
003417
068290
003415
003410
068870
003350
003300
069260
003280
069460
003240
069470
069620
003230
003220
069730
003200
003190
067250
003600
003470
003580
053000
003570
053690
003560
055550
003550
058430
058650
003540
058730
003530
003520
063160
003490
064420
064960
003480
066570
037710
002070
002030
000950
000910
107590
000890
108070
108670
108890
000880
105630
109070
111770
000850
000830
114090
000810
000800
114130
114140
114410
000860
000970
105560
000990
101790
001130
101990
001120
102000
102260
001080
102280
001070
103140
001060
103150
103590
104110
001040
104120
001020
000997
104700
000760
000720
117930
000300
000270
000240
000230
000220
000210
000180
000150
000140
000120
000100
000080
000070
900030
900050
000060
000050
000320
101380
000360
000700
118000
000680
000670
000660
000650
000640
000610
{"status":"013","message":"조회된 데이타가 없습니다."}
000590
000540
000520
000500
000490
000480
000470
000430
000425
000420
000400
000390
000370
001140
101140
001200
001740
090540
090970
001720
090980
090990
001680
091000
001630
091090
001620
001600
092200
001570
001560
092220
001550
092230
001530
090430
092440
001750
084870
002020
085310
002000
086280
001940
086720
086790
001880
088010
001820
001800
088790
088980
{"status":"013","message":"조회된 데이타가 없습니다."}
089470
001790
090080
001780
090350
001770
090370
084690
001380
097230
001360
097950
001340
001310
001300
001290
098150
{"status":"013","message":"조회된 데이타가 없습니다."}
099210
099340
{"status":"013","message":"조회된 데이타가 없습니다."}
001270
099350
{"status":"013","message":"조회된 데이타가 없습니다."}
001260
100220
001250
100250
001230
100840
001210
101060
001385
092630
001390
001420
093050
093230
001520
093240
093370
001510
093400
001500
093410
093820
{"status":"013","message":"조회된 데이타가 없습니다."}
001470
094280
094520
{"status":"013","message":"조회된 데이타가 없습니다."}
094800
{"status":"013","message":"조회된 데이타가 없습니다."}
001460
094950
{"status":"013","message":"조회된 데이타가 없습니다."}
095720
001450
096300
{"status":"013","message":"조회된 데이타가 없습니다."}
001440
096760
001430
096770
004250
037620
008500
014830
008490
014910
008420
008355
014990
008350
008320
015020
008260
008250
015230
008110
008080
015260
015350
008060
015360
008040
008020
008000
015110
008540
008560
014820
009150
014280
009140
009070
014300
008970
014350
014440
008930
008900
014530
008870
014580
008770
014590
014680
008730
008720
008700
014790
008600
015540
007980
015590
007860
007490
007480
016580
007460
016590
007340
016610
007310
016710
007280
016800
007210
007200
007190
016880
007160
017040
007120
017170
017180
007110
017300
017370
007540
014160
016575
007570
015760
015860
007815
015890
007810
007800
015940
{"status":"013","message":"조회된 데이타가 없습니다."}
016090
007700
016160
007690
016360
007660
016380
007630
007610
007595
016420
007590
016450
016510
016560
016570
014130
009160
011760
010600
011780
010580
010520
010460
010420
011790
011800
010145
011810
010140
011930
010130
012030
010120
012090
010100
012170
010060
012200
010050
010620
010040
010640
010660
011170
011150
011200
011090
011070
011050
011230
011000
011280
010960
011300
011330
010950
011390
010820
011400
011420
010780
011500
010770
011690
010690
011700
011720
017390
012280
012320
009410
009385
009380
013000
009320
009310
013240
013360
009290
009280
009270
013520
009240
013570
009200
013580
009190
013700
009180
012800
009970
009420
009440
012330
009830
009815
009810
012400
009770
009720
012410
009680
012420
012450
009580
012510
009540
012580
012600
009470
012610
009460
012630
009450
012690
012750
006980
017550
006890
005180
005110
030000
005090
030200
005070
030210
005030
030610
005010
030720
004990
031820
004980
032350
004970
032560
004960
004940
032640
004920
029780
004910
005190
005250
005390
026870
026890
026940
027390
005380
027740
005360
005350
027840
027970
005320
028050
028100
005300
005280
005270
028670
029460
029530
025890
033180
033240
004540
034730
004490
035000
004450
035150
035250
004430
035420
035510
004410
036460
004380
036530
004370
036570
036580
004360
004310
037270
004270
034590
004890
004870
033250
004840
033270
033530
004830
004820
033660
004800
033780
004770
004740
004720
034020
004710
034120
004700
034220
004690
004620
034300
034310
004560
004550
950010
005420
005430
006370
019180
006360
006350
019300
006340
019490
006280
019680
006260
006220
020000
006200
020120
006120
020560
006110
020760
006090
021050
006060
006375
021240
006380
006390
017555
017670
006840
017800
017810
006800
017900
006740
017940
006660
017960
006650
018410
018470
006570
018500
006490
006440
018670
006400
018880
019170
025860
006040
021820
024870
024890
005740
024900
025000
005720
025530
005690
025540
005680
005620
025560
005610
005560
025610
025620
005500
025750
005490
005450
025820
005440
025850
024720
005980
005750
024110
021960
005960
005950
023150
005940
023450
023530
005930
005900
023590
005880
023800
005870
023810
005850
023960
005830
024070
005820
024090
005810
024100
005800
000040
011160
012160
115390
071320
119650
121550
120110
120030
121910
088350
122290
031440
119250
122750
032830
060980
123700
123690
102460
103130
033920
105840
128820
122900
128940
002150
105380
057050
058850
081660
030790
134000
900140
000687
130660
058860
126560
117580
082740
950070
134790
134380
136490
011210
020150
138440
138930
139200
023350
138040
019440
053210
139130
139480
138490
069640
071840
047810
140910
031430
022520
023000
078520
140890
110570
039130
145990
129260
007070
145270
079980
152550
{"status":"013","message":"조회된 데이타가 없습니다."}
144620
950100
153360
149130
014710
155900
068400
161000
159650
161390
163560
161890
037560
013870
170900
168490
{"status":"013","message":"조회된 데이타가 없습니다."}
155660
172580
175330
181710
180640
064350
183190
006880
185750
192820
027410
192520
192530
133820
192400
200880
204320
018260
000030
112610
028260
210540
213500
145210
138250
210980
214390
085620
214420
214320
095570
002690
039570
079550
227840
089590
214330
075580
226320
152330
194370
004440
101530
070960
195870
034830
123890
026960
016740
248170
249420
229640
204210
241590
234080
207940
241560
143210
111110
145720
264900
267270
267250
267260
079440
251270
267290
268280
271560
035720
271980
280360
055490
282690
272550
281820
282330
272450
092780
285130
284740
068270
018250
294870
088260
298000
298040
298050
298020
286940
091810
300720
293940
010400
293480
306200
267850
298690
316140
192080
192650
307950
003670
336260
036420
336370
013890
330590
317400
272210
322000
308170
338100
344820
353200
326030
334890
350520
357250
348950
357120
363280
352820
339770
244920
009900
365550
375500
248070
950210
378850
302440
361610
380440
383220
383800
097520
137310
323410
178920
259960
372910
{"status":"013","message":"조회된 데이타가 없습니다."}
089860
139990
{"status":"013","message":"조회된 데이타가 없습니다."}
377190
{"status":"013","message":"조회된 데이타가 없습니다."}
271940
{"status":"013","message":"조회된 데이타가 없습니다."}
395400
{"status":"013","message":"조회된 데이타가 없습니다."}
329180
381970
{"status":"013","message":"조회된 데이타가 없습니다."}

In [58]:
len(fails)
infoDf.loc[fails]

     tickers     names corp_codes
30    071955   코아스웰1우B       None
55    083570    아시아10호   00533580
62    083600    아시아13호   00533757
66    083620    아시아15호   00533678
69    084160    골든경매일호   00540784
...      ...       ...        ...
1021  139990      아주스틸   00486705
1022  377190  디앤디플랫폼리츠   01475609
1023  271940   일진하이솔루스   00972503
1024  395400      SK리츠   01535150
1026  381970       케이카   01323032

[62 rows x 3 columns]

In [74]:
dart.list('케이카', start='2010-01-01', end='2021-11-01', kind='F', final=False)
# dart.find_corp_code('아주스틸')

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,01323032,케이카,381970,Y,감사보고서 (2020.12),20210401000915,삼정회계법인,20210401,
1,01323032,케이카,381970,Y,감사보고서 (2019.12),20200407001065,삼정회계법인,20200407,
2,01323032,케이카,381970,Y,감사보고서 (2018.12),20190401001715,삼정회계법인,20190401,

In [78]:
# 삼성전자 1999년~2019년 모든 정기보고서(최종보고서) (82건)
dart.list('083570', start='2010-01-01', end='2021-11-01', kind='A', final=False)

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2017.02),20170414001888,아시아퍼시픽10호선박투자회사,20170414,
1,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2016.11),20170113000530,아시아퍼시픽10호선박투자회사,20170113,
2,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2016.08),20161017000200,아시아퍼시픽10호선박투자회사,20161017,
3,00533580,아시아퍼시픽10호선박투자회사,083570,E,[기재정정]사업보고서 (2016.05),20160831000917,아시아퍼시픽10호선박투자회사,20160831,
4,00533580,아시아퍼시픽10호선박투자회사,083570,E,사업보고서 (2016.05),20160829000305,아시아퍼시픽10호선박투자회사,20160829,정
5,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2016.02),20160412001787,아시아퍼시픽10호선박투자회사,20160412,
6,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2015.11),20160114000260,아시아퍼시픽10호선박투자회사,20160114,
7,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2015.08),20151015000225,아시아퍼시픽10호선박투자회사,20151015,
8,00533580,아시아퍼시픽10호선박투자회사,083570,E,사업보고서 (2015.05),20150831000651,아시아퍼시픽10호선박투자회사,20150831,
9,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2015.02),20150414001845,아시아퍼시픽10호선박투자회사,20150414,
10,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2014.11),20150114000338,아시아퍼시픽10호선박투자회사,20150114,
11,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2014.08),20141015000119,아시아퍼시픽10호선박투자회사,20141015,
12,00533580,아시아퍼시픽10호선박투자회사,083570,E,사업보고서 (2014.05),20140829000950,아시아퍼시픽10호선박투자회사,20140829,
13,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2014.02),20140414001242,아시아퍼시픽10호선박투자회사,20140414,
14,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2013.11),20140114000339,아시아퍼시픽10호선박투자회사,20140114,
15,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2013.08),20131030000225,아시아퍼시픽10호선박투자회사,20131030,
16,00533580,아시아퍼시픽10호선박투자회사,083570,E,사업보고서 (2013.05),20130829000931,아시아퍼시픽10호선박투자회사,20130829,연
17,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2013.02),20130415000619,아시아퍼시픽10호선박투자회사,20130415,
18,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2012.11),20130114000242,아시아퍼시픽10호선박투자회사,20130114,
19,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2012.08),20121015000094,아시아퍼시픽10호선박투자회사,20121015,
20,00533580,아시아퍼시픽10호선박투자회사,083570,E,사업보고서 (2012.05),20120829000663,아시아퍼시픽10호선박투자회사,20120829,연
21,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2012.02),20120416000527,아시아퍼시픽10호선박투자회사,20120416,
22,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2011.11),20120116000208,아시아퍼시픽10호선박투자회사,20120116,
23,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2011.08),20111017000293,아시아퍼시픽10호선박투자회사,20111017,
24,00533580,아시아퍼시픽10호선박투자회사,083570,E,[첨부추가]사업보고서 (2011.05),20110829000629,아시아퍼시픽10호선박투자회사,20110829,연
25,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2011.02),20110414001044,아시아퍼시픽10호선박투자회사,20110414,
26,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2010.11),20110114000243,아시아퍼시픽10호선박투자회사,20110114,
27,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2010.08),20101015000076,아시아퍼시픽10호선박투자회사,20101015,
28,00533580,아시아퍼시픽10호선박투자회사,083570,E,[첨부추가]사업보고서 (2010.05),20100830000221,아시아퍼시픽10호선박투자회사,20100830,연
29,00533580,아시아퍼시픽10호선박투자회사,083570,E,분기보고서 (2010.02),20100414000678,아시아퍼시픽10호선박투자회사,20100414,
30,00533580,아시아퍼시픽10호선박투자회사,083570,E,반기보고서 (2009.11),20100114000193,아시아퍼시픽10호선박투자회사,20100114,

In [88]:
addDf = reportInfoDf.report_nm.str.extract(r'\[?(\w*)\]?(사업보고서|반기보고서|분기보고서).*\((\d{4}\.\d{2})\)', expand=True).rename(columns={0:'add_info', 1:'kind', 2:'date'})
addedReportInfoDf = pd.concat([reportInfoDf, addDf], axis=1)
addedReportInfoDf = addedReportInfoDf[['corp_code', 'corp_name', 'stock_code','rcept_dt', 'add_info', 'kind', 'date', 'rcept_no']]
addedReportInfoDf

,corp_code,corp_name,stock_code,rcept_dt,add_info,kind,date,rcept_no
0,00126380,삼성전자,005930,20210817,,반기보고서,2021.06,20210817001416
1,00126380,삼성전자,005930,20210517,,분기보고서,2021.03,20210517001185
2,00126380,삼성전자,005930,20210309,,사업보고서,2020.12,20210309000744
3,00126380,삼성전자,005930,20201116,,분기보고서,2020.09,20201116001248
4,00126380,삼성전자,005930,20200814,,반기보고서,2020.06,20200814001766
5,00126380,삼성전자,005930,20200515,,분기보고서,2020.03,20200515001451
6,00126380,삼성전자,005930,20200330,,사업보고서,2019.12,20200330003851
7,00126380,삼성전자,005930,20191114,,분기보고서,2019.09,20191114001273
8,00126380,삼성전자,005930,20190814,,반기보고서,2019.06,20190814002218
9,00126380,삼성전자,005930,20190515,,분기보고서,2019.03,20190515001605
10,00126380,삼성전자,005930,20190401,,사업보고서,2018.12,20190401004781
11,00126380,삼성전자,005930,20181114,,분기보고서,2018.09,20181114001530
12,00126380,삼성전자,005930,20180814,,반기보고서,2018.06,20180814001113
13,00126380,삼성전자,005930,20180515,,분기보고서,2018.03,20180515001699
14,00126380,삼성전자,005930,20180402,,사업보고서,2017.12,20180402005019
15,00126380,삼성전자,005930,20171114,,분기보고서,2017.09,20171114001694
16,00126380,삼성전자,005930,20170814,,반기보고서,2017.06,20170814001832
17,00126380,삼성전자,005930,20170515,,분기보고서,2017.03,20170515003806
18,00126380,삼성전자,005930,20170331,,사업보고서,2016.12,20170331004518
19,00126380,삼성전자,005930,20161114,,분기보고서,2016.09,20161114001491
20,00126380,삼성전자,005930,20160816,,반기보고서,2016.06,20160816001779
21,00126380,삼성전자,005930,20160516,,분기보고서,2016.03,20160516003174
22,00126380,삼성전자,005930,20160330,,사업보고서,2015.12,20160330003536
23,00126380,삼성전자,005930,20151116,,분기보고서,2015.09,20151116000976
24,00126380,삼성전자,005930,20150817,,반기보고서,2015.06,20150817000859
25,00126380,삼성전자,005930,20150515,,분기보고서,2015.03,20150515001379
26,00126380,삼성전자,005930,20150331,,사업보고서,2014.12,20150331002915
27,00126380,삼성전자,005930,20141114,,분기보고서,2014.09,20141114000755
28,00126380,삼성전자,005930,20140814,,반기보고서,2014.06,20140814000743
29,00126380,삼성전자,005930,20140515,,분기보고서,2014.03,20140515001057
30,00126380,삼성전자,005930,20140331,,사업보고서,2013.12,20140331002427
31,00126380,삼성전자,005930,20131114,,분기보고서,2013.09,20131114000520
32,00126380,삼성전자,005930,20130814,,반기보고서,2013.06,20130814000618
33,00126380,삼성전자,005930,20130515,,분기보고서,2013.03,20130515000677
34,00126380,삼성전자,005930,20130401,,사업보고서,2012.12,20130401003031
35,00126380,삼성전자,005930,20121114,,분기보고서,2012.09,20121114000975
36,00126380,삼성전자,005930,20120814,,반기보고서,2012.06,20120814001232
37,00126380,삼성전자,005930,20120330,첨부추가,사업보고서,2011.12,20120330002110
38,00126380,삼성전자,005930,20120515,,분기보고서,2012.03,20120515001281
39,00126380,삼성전자,005930,20111129,,분기보고서,2011.09,20111129000501
40,00126380,삼성전자,005930,20110916,기재정정,반기보고서,2011.06,20110916000072
41,00126380,삼성전자,005930,20110829,,반기보고서,2011.06,20110829000539
42,00126380,삼성전자,005930,20110331,첨부추가,사업보고서,2010.12,20110331002193
43,00126380,삼성전자,005930,20110530,,분기보고서,2011.03,20110530000628
44,00126380,삼성전자,005930,20101129,,분기보고서,2010.09,20101129000419
45,00126380,삼성전자,005930,20100830,,반기보고서,2010.06,20100830000360
46,00126380,삼성전자,005930,20100331,첨부추가,사업보고서,2009.12,20100331001680
47,00126380,삼성전자,005930,20100531,,분기보고서,2010.03,20100531001169

In [101]:
def checkOrder(current_m, before_m):
    dic = {'03':'12', '06':'03', '09':'06', '12':'09'}

    if dic[current_m] == before_m:
        return 'correct'
    else :
        return 'wrong'

In [113]:
con = addedReportInfoDf.loc[:, 'add_info'] == '기재정정'
checkDf = addedReportInfoDf.loc[~con].sort_values(by='rcept_dt').reset_index(drop=True)
checkDf = checkDf.assign(current_m = checkDf.date.str.extract(r'\d{4}.(\d{2})'))
checkDf = checkDf.assign(before_m = checkDf.current_m.shift(1))
checkDf['test_result'] = checkDf.apply(lambda row : 'correct' if row.name==0 else checkOrder(row['current_m'], row['before_m']), axis=1, result_type='expand')
checkDf

,corp_code,corp_name,stock_code,rcept_dt,add_info,kind,date,rcept_no,current_m,before_m,test_result
0,00126380,삼성전자,005930,20100331,첨부추가,사업보고서,2009.12,20100331001680,12,NaN,correct
1,00126380,삼성전자,005930,20100531,,분기보고서,2010.03,20100531001169,03,12,correct
2,00126380,삼성전자,005930,20100830,,반기보고서,2010.06,20100830000360,06,03,correct
3,00126380,삼성전자,005930,20101129,,분기보고서,2010.09,20101129000419,09,06,correct
4,00126380,삼성전자,005930,20110331,첨부추가,사업보고서,2010.12,20110331002193,12,09,correct
5,00126380,삼성전자,005930,20110530,,분기보고서,2011.03,20110530000628,03,12,correct
6,00126380,삼성전자,005930,20110829,,반기보고서,2011.06,20110829000539,06,03,correct
7,00126380,삼성전자,005930,20111129,,분기보고서,2011.09,20111129000501,09,06,correct
8,00126380,삼성전자,005930,20120330,첨부추가,사업보고서,2011.12,20120330002110,12,09,correct
9,00126380,삼성전자,005930,20120515,,분기보고서,2012.03,20120515001281,03,12,correct
10,00126380,삼성전자,005930,20120814,,반기보고서,2012.06,20120814001232,06,03,correct
11,00126380,삼성전자,005930,20121114,,분기보고서,2012.09,20121114000975,09,06,correct
12,00126380,삼성전자,005930,20130401,,사업보고서,2012.12,20130401003031,12,09,correct
13,00126380,삼성전자,005930,20130515,,분기보고서,2013.03,20130515000677,03,12,correct
14,00126380,삼성전자,005930,20130814,,반기보고서,2013.06,20130814000618,06,03,correct
15,00126380,삼성전자,005930,20131114,,분기보고서,2013.09,20131114000520,09,06,correct
16,00126380,삼성전자,005930,20140331,,사업보고서,2013.12,20140331002427,12,09,correct
17,00126380,삼성전자,005930,20140515,,분기보고서,2014.03,20140515001057,03,12,correct
18,00126380,삼성전자,005930,20140814,,반기보고서,2014.06,20140814000743,06,03,correct
19,00126380,삼성전자,005930,20141114,,분기보고서,2014.09,20141114000755,09,06,correct
20,00126380,삼성전자,005930,20150331,,사업보고서,2014.12,20150331002915,12,09,correct
21,00126380,삼성전자,005930,20150515,,분기보고서,2015.03,20150515001379,03,12,correct
22,00126380,삼성전자,005930,20150817,,반기보고서,2015.06,20150817000859,06,03,correct
23,00126380,삼성전자,005930,20151116,,분기보고서,2015.09,20151116000976,09,06,correct
24,00126380,삼성전자,005930,20160330,,사업보고서,2015.12,20160330003536,12,09,correct
25,00126380,삼성전자,005930,20160516,,분기보고서,2016.03,20160516003174,03,12,correct
26,00126380,삼성전자,005930,20160816,,반기보고서,2016.06,20160816001779,06,03,correct
27,00126380,삼성전자,005930,20161114,,분기보고서,2016.09,20161114001491,09,06,correct
28,00126380,삼성전자,005930,20170331,,사업보고서,2016.12,20170331004518,12,09,correct
29,00126380,삼성전자,005930,20170515,,분기보고서,2017.03,20170515003806,03,12,correct
30,00126380,삼성전자,005930,20170814,,반기보고서,2017.06,20170814001832,06,03,correct
31,00126380,삼성전자,005930,20171114,,분기보고서,2017.09,20171114001694,09,06,correct
32,00126380,삼성전자,005930,20180402,,사업보고서,2017.12,20180402005019,12,09,correct
33,00126380,삼성전자,005930,20180515,,분기보고서,2018.03,20180515001699,03,12,correct
34,00126380,삼성전자,005930,20180814,,반기보고서,2018.06,20180814001113,06,03,correct
35,00126380,삼성전자,005930,20181114,,분기보고서,2018.09,20181114001530,09,06,correct
36,00126380,삼성전자,005930,20190401,,사업보고서,2018.12,20190401004781,12,09,correct
37,00126380,삼성전자,005930,20190515,,분기보고서,2019.03,20190515001605,03,12,correct
38,00126380,삼성전자,005930,20190814,,반기보고서,2019.06,20190814002218,06,03,correct
39,00126380,삼성전자,005930,20191114,,분기보고서,2019.09,20191114001273,09,06,correct
40,00126380,삼성전자,005930,20200330,,사업보고서,2019.12,20200330003851,12,09,correct
41,00126380,삼성전자,005930,20200515,,분기보고서,2020.03,20200515001451,03,12,correct
42,00126380,삼성전자,005930,20200814,,반기보고서,2020.06,20200814001766,06,03,correct
43,00126380,삼성전자,005930,20201116,,분기보고서,2020.09,20201116001248,09,06,correct
44,00126380,삼성전자,005930,20210309,,사업보고서,2020.12,20210309000744,12,09,correct
45,00126380,삼성전자,005930,20210517,,분기보고서,2021.03,20210517001185,03,12,correct
46,00126380,삼성전자,005930,20210817,,반기보고서,2021.06,20210817001416,06,03,correct

In [116]:
reprt_code = '20210309000744'
url = f'https://dart.fss.or.kr/dsaf001/main.do?rcpNo={reprt_code}'
r = requests.get(url)
if r.status_code == 200 :
    string = r.text
else :
    print('''it's fail''')

In [117]:
def get_regex_search_node2(key, scriipt_tag) :
    return re.findall(r'node2\[\'' + key + '\'\]\s*=\s*(".*?")', scriipt_tag)

In [118]:
text_list = get_regex_search_node2('text', string)
id_list = get_regex_search_node2('id', string)
rcpNo_list = get_regex_search_node2('rcpNo', string)
dcmNo_list = get_regex_search_node2('dcmNo', string)
eleId_list = get_regex_search_node2('eleId', string)
offset_list = get_regex_search_node2('offset', string)
length_list = get_regex_search_node2('length', string)
dtd_list = get_regex_search_node2('dtd', string)
tocNo_list = get_regex_search_node2('tocNo', string)


print(len(text_list))
print(len(id_list))
print(len(rcpNo_list))
print(len(dcmNo_list))
print(len(eleId_list))
print(len(offset_list))
print(len(length_list))
print(len(dtd_list))
print(len(tocNo_list))

20
20
20
20
20
20
20
20
20

In [119]:
dic = {'text' : text_list,
        'id' : id_list,
        'rcpNo' : rcpNo_list, 
        'dcmNo' : dcmNo_list, 
        'eleId' : eleId_list, 
        'offset' : offset_list,
        'length' : length_list,
        'dtd' : dtd_list,
        'tocNo' : tocNo_list,
}

df = pd.DataFrame(dic)

In [120]:
df = df.applymap(lambda x: x.strip('"'))
df

,text,id,rcpNo,dcmNo,eleId,offset,length,dtd,tocNo
0,1. 회사의 개요,4,20210309000744,7861003,4,13800,241107,dart3.xsd,4
1,2. 회사의 연혁,5,20210309000744,7861003,5,254911,18093,dart3.xsd,5
2,3. 자본금 변동사항,6,20210309000744,7861003,6,273008,3576,dart3.xsd,6
3,4. 주식의 총수 등,7,20210309000744,7861003,7,276588,62302,dart3.xsd,7
4,5. 의결권 현황,8,20210309000744,7861003,8,338894,7901,dart3.xsd,8
5,6. 배당에 관한 사항 등,9,20210309000744,7861003,9,346799,18765,dart3.xsd,9
6,7. 정관에 관한 사항,10,20210309000744,7861003,10,365568,2291,dart3.xsd,10
7,1. 요약재무정보,13,20210309000744,7861003,13,664835,22260,dart3.xsd,13
8,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14
9,3. 연결재무제표 주석,15,20210309000744,7861003,15,803094,555908,dart3.xsd,15
10,4. 재무제표,16,20210309000744,7861003,16,1359006,85216,dart3.xsd,16
11,5. 재무제표 주석,17,20210309000744,7861003,17,1444226,476709,dart3.xsd,17
12,6. 기타 재무에 관한 사항,18,20210309000744,7861003,18,1920965,239719,dart3.xsd,18
13,1. 이사회에 관한 사항,22,20210309000744,7861003,22,2295104,117992,dart3.xsd,22
14,2. 감사제도에 관한 사항,23,20210309000744,7861003,23,2413100,45177,dart3.xsd,23
15,3. 주주의 의결권 행사에 관한 사항,24,20210309000744,7861003,24,2458281,1496,dart3.xsd,24
16,1. 임원 및 직원 등의 현황,27,20210309000744,7861003,27,2524279,853089,dart3.xsd,27
17,2. 임원의 보수 등,28,20210309000744,7861003,28,3377372,67179,dart3.xsd,28
18,1. 전문가의 확인,33,20210309000744,7861003,33,4139294,112,dart3.xsd,33
19,2. 전문가와의 이해관계,34,20210309000744,7861003,34,4139410,115,dart3.xsd,34

In [121]:
con = df.text.str.contains('.*연결재무제표$')
display(df.loc[con])
dic = df.loc[con].to_dict('records')[0]
dic

,text,id,rcpNo,dcmNo,eleId,offset,length,dtd,tocNo
8,2. 연결재무제표,14,20210309000744,7861003,14,687340,115750,dart3.xsd,14

{'text': '2. 연결재무제표',
 'id': '14',
 'rcpNo': '20210309000744',
 'dcmNo': '7861003',
 'eleId': '14',
 'offset': '687340',
 'length': '115750',
 'dtd': 'dart3.xsd',
 'tocNo': '14'}

In [149]:
params={
    'rcpNo': dic['rcpNo'],
    'dcmNo': dic['dcmNo'],
    'eleId': dic['eleId'],
    'offset': dic['offset'],
    'length': dic['length'],
    'dtd': dic['dtd']
    }

url = f'https://dart.fss.or.kr/report/viewer.do?'
r = requests.get(url, params=params)
html = r.text

table = pd.read_html(html)
length = len(table)
for k in range(0, length):
    title_candi = table[k].iat[0,0]
    lst = re.findall('.*재무상태표|손익계산서|현금흐름표', title_candi)
    if lst :
        print(k, title_candi, sep=':')
        display(table[k+1])

0:연결 재무상태표

         Unnamed: 0       제 52 기       제 51 기       제 50 기
0                자산          NaN          NaN          NaN
1              유동자산    198215579    181385260    174697424
2          현금및현금성자산     29382578     26885999     30340505
3            단기금융상품     92441703     76252052     65893797
4       단기상각후원가금융자산      2757111      3914216      2703693
5   단기당기손익-공정가치금융자산        71451      1727436      2001948
6              매출채권     30965058     35131343     33867733
7               미수금      3604539      4179120      3080733
8              선급비용      2266100      2406220      4136167
9              재고자산     32043145     26766464     28984704
10           기타유동자산      3754462      4122410      3688144
11         매각예정분류자산       929432            0            0
12            비유동자산    180020139    171179237    164659820
13        상각후원가금융자산            0            0       238309
14  기타포괄손익-공정가치금융자산     12575216      8920712      7301351
15    당기손익-공정가치금융자산      1202969      1049004       775427
16   관계기업 및 공동기업 투자      8076779      7591612      7313206
17             유형자산    128952892    119825474    115416724
18             무형자산     18468502     20703504     14891598
19          순확정급여자산      1355502       589832       562356
20          이연법인세자산      4275000      4505049      5468002
21          기타비유동자산      5113279      7994050     12692847
22             자산총계    378235718    352564497    339357244
23               부채          NaN          NaN          NaN
24             유동부채     75604351     63782764     69081510
25             매입채무      9739222      8718222      8479916
26            단기차입금     16553429     14393468     13586660
27             미지급금     11899022     12002513     10711536
28              선수금      1145423      1072062       820265
29              예수금       974521       897355       951254
30            미지급비용     24330339     19359624     20339687
31          당기법인세부채      4430272      1387773      8720050
32          유동성장기부채       716099       846090        33386
33             충당부채      4349563      4068627      4384038
34           기타유동부채      1127719      1037030      1054718
35         매각예정분류부채       338742            0            0
36            비유동부채     26683351     25901312     22522557
37               사채       948137       975298       961972
38            장기차입금      1999716      2197181        85085
39           장기미지급금      1682910      2184249      3194043
40          순확정급여부채       464458       470780       504064
41          이연법인세부채     18810845     17053808     15162523
42           장기충당부채      1051428       611100       663619
43          기타비유동부채      1725857      2408896      1951251
44             부채총계    102287702     89684076     91604067
45               자본          NaN          NaN          NaN
46       지배기업 소유주지분    267670331    254915472    240068993
47              자본금       897514       897514       897514
48           우선주자본금       119467       119467       119467
49           보통주자본금       778047       778047       778047
50          주식발행초과금      4403893      4403893      4403893
51       이익잉여금(결손금)    271068211    254582894    242698956
52           기타자본항목  (8,687,155)  (4,968,829)  (7,931,370)
53     매각예정분류기타자본항목     (12,132)            0            0
54            비지배지분      8277685      7964949      7684184
55             자본총계    275948016    262880421    247753177
56          부채와자본총계    378235718    352564497    339357244

3:연결 손익계산서

                    Unnamed: 0       제 52 기       제 51 기       제 50 기
0                      수익(매출액)  236806988.0  230400881.0  243771415.0
1                         매출원가  144488296.0  147239549.0  132394411.0
2                        매출총이익   92318692.0   83161332.0  111377004.0
3                      판매비와관리비   56324816.0   55392823.0   52490335.0
4                         영업이익   35993876.0   27768509.0   58886669.0
5                         기타수익    1384068.0    1778666.0    1485037.0
6                         기타비용    2488902.0    1414707.0    1142018.0
7                        지분법이익     506530.0     412960.0     539845.0
8                         금융수익   12267600.0   10161632.0    9999321.0
9                         금융비용   11318055.0    8274871.0    8608896.0
10             법인세비용차감전순이익(손실)   36345117.0   30432189.0   61159958.0
11                       법인세비용    9937285.0    8693324.0   16815101.0
12                  계속영업이익(손실)   26407832.0   21738865.0   44344857.0
13                   당기순이익(손실)   26407832.0   21738865.0   44344857.0
14               당기순이익(손실)의 귀속          NaN          NaN          NaN
15  지배기업의 소유주에게 귀속되는 당기순이익(손실)   26090846.0   21505054.0   43890877.0
16       비지배지분에 귀속되는 당기순이익(손실)     316986.0     233811.0     453980.0
17                        주당이익          NaN          NaN          NaN
18         기본주당이익(손실) (단위 : 원)       3841.0       3166.0       6461.0
19         희석주당이익(손실) (단위 : 원)       3841.0       3166.0       6461.0

6:연결 포괄손익계산서

                    Unnamed: 0       제 52 기       제 51 기     제 50 기
0                    당기순이익(손실)     26407832     21738865   44344857
1                       기타포괄손익  (3,673,905)      3016194   (12,242)
2   후속적으로 당기손익으로 재분류되지 않는 포괄손익      1788764     (50,765)  (656,647)
3          기타포괄손익-공정가치금융자산평가손익      2502733      1146599  (235,865)
4   관계기업 및 공동기업의 기타포괄손익에 대한 지분         5591     (16,896)   (10,631)
5            순확정급여부채(자산) 재측정요소    (719,560)  (1,180,468)  (410,151)
6      후속적으로 당기손익으로 재분류되는 포괄손익  (5,462,669)      3066959     644405
7   관계기업 및 공동기업의 기타포괄손익에 대한 지분     (48,888)        48649       6688
8                  해외사업장환산외환차이  (5,380,375)      3016499     590638
9             현금흐름위험회피파생상품평가손익     (33,406)         1811      47079
10                       총포괄손익     22733927     24755059   44332615
11                    포괄손익의 귀속          NaN          NaN        NaN
12                  지배기업 소유주지분     22374398     24466985   43882473
13                       비지배지분       359529       288074     450142

12:연결 현금흐름표

                  Unnamed: 0        제 52 기        제 51 기        제 50 기
0                  영업활동 현금흐름      65287009      45382915      67031863
1              영업에서 창출된 현금흐름      68148810      56635791      78025064
2                      당기순이익      26407832      21738865      44344857
3                         조정      41618554      37442682      43604573
4         영업활동으로 인한 자산부채의 변동        122424   (2,545,756)   (9,924,366)
5                     이자의 수취       2220209       2306401       1788520
6                     이자의 지급     (555,321)     (579,979)     (548,272)
7                     배당금 수입        243666        241801        215992
8                    법인세 납부액   (4,770,355)  (13,221,099)  (12,449,441)
9                  투자활동 현금흐름  (53,628,591)  (39,948,171)  (52,240,453)
10           단기금융상품의 순감소(증가)  (20,369,616)   (2,030,913)  (12,368,298)
11      단기상각후원가금융자산의 순감소(증가)        184104     (818,089)   (1,436,844)
12  단기당기손익-공정가치금융자산의 순감소(증가)       1704512        374982     (139,668)
13                장기금융상품의 처분      12184301       4586610        255850
14                장기금융상품의 취득   (8,019,263)  (12,725,465)   (7,678,654)
15             상각후원가금융자산의 처분       1023117        694584             0
16             상각후원가금융자산의 취득             0     (825,027)     (158,716)
17       기타포괄손익-공정가치금융자산의 처분         32128          1575         16211
18       기타포괄손익-공정가치금융자산의 취득     (245,497)      (63,773)     (456,134)
19         당기손익-공정가치금융자산의 처분         39746         64321         80138
20         당기손익-공정가치금융자산의 취득      (84,184)     (135,826)     (193,848)
21        관계기업 및 공동기업 투자의 처분             0         12149           148
22        관계기업 및 공동기업 투자의 취득      (83,280)      (12,778)      (51,226)
23                  유형자산의 처분        376744        513265        556973
24                  유형자산의 취득  (37,592,034)  (25,367,756)  (29,556,406)
25                  무형자산의 처분          7027          7241         11935
26                  무형자산의 취득   (2,679,779)   (3,249,914)   (1,020,517)
27           사업결합으로 인한 현금유출액      (49,420)   (1,019,405)      (99,108)
28        기타투자활동으로 인한 현금유출입액      (57,197)         46048       (2,289)
29                 재무활동 현금흐름   (8,327,839)   (9,484,510)  (15,090,222)
30            단기차입금의 순증가(감소)       2191186        865792   (2,046,470)
31                  자기주식의 취득             0             0     (875,111)
32                 장기차입금의 차입         14495             0          3580
33            사채 및 장기차입금의 상환     (864,947)     (709,400)   (1,986,597)
34                   배당금의 지급   (9,676,760)   (9,639,202)  (10,193,695)
35                 비지배지분의 증감          8187       (1,700)          8071
36                    매각예정분류         (139)             0             0
37          외화환산으로 인한 현금의 변동     (833,861)        595260         94187
38             현금및현금성자산의 순증감       2496579   (3,454,506)     (204,625)
39              기초의 현금및현금성자산      26885999      30340505      30545130
40              기말의 현금및현금성자산      29382578      26885999      30340505

In [59]:
qeury = QueryStockDataDB.QueryStockData(folderPath)
nDf = qeury.queryStockNumberOfSharesDB(by='parquet')

In [62]:
con = nDf.name.str.contains(r'\d+호')
lst = nDf.loc[con].name.unique().tolist()
lst

['동북아1호',
 '동북아2호',
 '아시아1호',
 '동북아6호',
 '동북아3호',
 '동북아4호',
 '동북아5호',
 '아시아2호',
 '아시아3호',
 '동북아13호',
 '동북아14호',
 '아시아10호',
 '아시아11호',
 '아시아12호',
 '아시아13호',
 '아시아14호',
 '아시아15호',
 '동북아15호',
 '동북아12호',
 '동북아11호',
 '아시아4호',
 '아시아8호',
 '아시아9호',
 '동북아8호',
 '아시아5호',
 '아시아6호',
 '아시아7호',
 '동북아9호',
 '동북아10호',
 '거북선4호',
 '거북선5호',
 '거북선6호',
 '케이알제2호',
 '거북선3호',
 '거북선2호',
 '코크렙8호',
 '코리아01호',
 '코리아02호',
 '코리아03호',
 '코리아04호',
 '코크렙7호',
 '동북아21호',
 '코리아07호',
 '하나니켈1호',
 '하나니켈2호',
 '바다로3호',
 '코리아05호',
 '코리아06호',
 '코크렙15호',
 '우리스팩1호',
 '거북선7호',
 '하이골드2호',
 '트러스제7호',
 '하이골드3호',
 '바다로19호',
 '하이골드8호',
 '하이골드12호',
 '엔에이치스팩19호']